In [1]:
import pandas as pd
import numpy as np

Read in federal level data

In [2]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [3]:
fiscal_CO = fiscal[(fiscal['STNAME'] == 'Colorado') & (fiscal['GSHI'] == '12')]

In [4]:
len(fiscal_CO)

186

In [5]:
fiscal_CO.head()

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
2418,0800001,06500900300000,08,08017,N,N,Cheyenne County School District No. Re-5,Colorado,CO,03,...,R,R,R,R,R,R,R,I,I,R
2419,0800004,06501620100000,08,08031,216,19740,DENVER 1,Colorado,CO,07,...,R,R,R,R,R,R,R,I,R,R
2426,0800016,06506330100000,08,08125,N,N,Yuma 1 School District,Colorado,CO,03,...,R,R,R,R,R,R,R,I,I,R
2427,0800017,06506330300000,08,08125,N,N,Wray RD-2 School District,Colorado,CO,03,...,R,R,R,R,R,R,R,I,I,R
2428,0800018,06506330400000,08,08125,N,N,Idalia RJ-3 School District,Colorado,CO,03,...,R,R,R,R,R,R,R,I,I,R

Read in state level data

In [6]:
CO = pd.read_excel('../../data/state_data_raw/colorado2018.xlsx')

In [7]:
CO.head(10)

,County Name,Organization Code,Organization Name,"""Class Of…"" Anticpated Year of Graduation Cohort",Number of Years After Entering High School,All Students Final Grad Base,All Students Graduates Total,All Students Graduation Rate,All Students Completers Total,All Students Completion Rate,...,Two or More Races Female Final Grad Base,Two or More Races Female Graduates,Two or More Races Female Graduation Rate,Two or More Races Female Completers Total,Two or More Races Female Completion Rate,Two or More Races Male Final Grad Base,Two or More Races Male Graduates,Two or More Races Male Graduation Rate,Two or More Races Male Completers Total,Two or More Races Male Completion Rate
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,9999.0,STATE TOTALS,2017-2018,4.0,65933.0,53240.0,0.807486,54399.0,0.825065,...,1138.0,980.0,0.861160,996.0,0.875220,1130.0,899.0,0.795575,925.0,0.818584
2,NaN,9999.0,STATE TOTALS,2016-2017,5.0,63967.0,53834.0,0.841590,55304.0,0.864571,...,1062.0,915.0,0.861582,946.0,0.890772,1131.0,951.0,0.840849,992.0,0.877100
3,NaN,9999.0,STATE TOTALS,2015-2016,6.0,63021.0,53936.0,0.855842,55457.0,0.879977,...,1033.0,902.0,0.873185,926.0,0.896418,1024.0,848.0,0.828125,881.0,0.860352
4,NaN,9999.0,STATE TOTALS,2014-2015,7.0,61111.0,52314.0,0.856049,54041.0,0.884309,...,1006.0,905.0,0.899602,933.0,0.927435,926.0,786.0,0.848812,823.0,0.888769
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ADAMS,10.0,MAPLETON 1,2017-2018,4.0,723.0,437.0,0.604426,469.0,0.648686,...,14.0,9.0,0.642857,9.0,0.642857,13.0,4.0,0.307692,5.0,0.384615
7,ADAMS,10.0,MAPLETON 1,2016-2017,5.0,691.0,455.0,0.658466,497.0,0.719247,...,17.0,10.0,0.588235,10.0,0.588235,15.0,11.0,0.733333,13.0,0.866667
8,ADAMS,10.0,MAPLETON 1,2015-2016,6.0,641.0,476.0,0.742590,520.0,0.811232,...,9.0,7.0,0.777778,9.0,1.000000,15.0,11.0,0.733333,11.0,0.733333
9,ADAMS,10.0,MAPLETON 1,2014-2015,7.0,536.0,395.0,0.736940,433.0,0.807836,...,12.0,9.0,0.750000,11.0,0.916667,11.0,6.0,0.545455,8.0,0.727273

Filter for only the district level, total population samples.

In [8]:
CO = CO[6:]

In [9]:
CO = CO[CO['"Class Of…" Anticpated Year of Graduation Cohort'] == '2017-2018']

In [10]:
len(CO)

185

Drop and rename columns.

In [11]:
CO = CO[['Organization Name', 'All Students Final Grad Base', 'All Students Graduation Rate']]

In [12]:
CO.columns = ['District Name', 'Total', 'Graduation Rate']

In [13]:
CO

                    District Name   Total  Graduation Rate
6                      MAPLETON 1   723.0         0.604426
10     ADAMS 12 FIVE STAR SCHOOLS  2748.0         0.843159
14                ADAMS COUNTY 14   560.0         0.642857
18            SCHOOL DISTRICT 27J  1110.0         0.815315
22                    BENNETT 29J    94.0         0.872340
..                            ...     ...              ...
726              CENTENNIAL BOCES   106.0         0.490566
730                SAN JUAN BOCES    16.0         0.750000
734           EXPEDITIONARY BOCES    22.0         0.954545
738  EDUCATION REENVISIONED BOCES   365.0         0.246575
742          COLORADO RIVER BOCES    61.0         0.721311

[185 rows x 3 columns]

In [14]:
CO.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185 entries, 6 to 742
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    185 non-null    object
 1   Total            185 non-null    float64
 2   Graduation Rate  185 non-null    float64
dtypes: float64(2), object(1)
memory usage: 5.8+ KB

No need to convert data types.

Check for matches and non-matches in the two lists

In [15]:
Matches = [name for name in list(CO['District Name']) if name.lower() in [low.lower() for low in fiscal_CO['NAME']]]
Matches.sort()
len(Matches)

12

In [16]:
fiscal_CO['NAME'] = fiscal_CO['NAME'].astype(str).str.replace('School District No. ', '')
fiscal_CO['NAME'] = fiscal_CO['NAME'].astype(str).str.replace('School District N. ', '')
fiscal_CO['NAME'] = fiscal_CO['NAME'].astype(str).str.replace('School District ', '')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
A = [name for name in list(CO['District Name']) if name.lower() not in [low.lower() for low in fiscal_CO['NAME']]]
A.sort()
A

['ACADEMY 20',
 'ADAMS COUNTY 14',
 'ADAMS-ARAPAHOE 28J',
 'ARRIBA-FLAGLER C-20',
 'ASPEN 1',
 'AULT-HIGHLAND RE-9',
 'BAYFIELD 10 JT-R',
 'BETHUNE R-5',
 'BOULDER VALLEY RE 2',
 'BRIGGSDALE RE-10',
 'BRUSH RE-2(J)',
 'BUFFALO RE-4J',
 'BURLINGTON RE-6J',
 'CALHAN RJ-1',
 'CANON CITY RE-1',
 'CENTER 26 JT',
 'CHARTER SCHOOL INSTITUTE',
 'CHERAW 31',
 'CHERRY CREEK 5',
 'CHEYENNE MOUNTAIN 12',
 'COLORADO SPRINGS 11',
 'COTOPAXI RE-3',
 'CUSTER COUNTY SCHOOL DISTRICT C-1',
 'DE BEQUE 49JT',
 'DEL NORTE C-7',
 'DELTA COUNTY 50(J)',
 'DENVER COUNTY 1',
 'DISTRICT 49',
 'DOLORES COUNTY RE NO.2',
 'EADS RE-1',
 'EAST OTERO R-1',
 'EATON RE-2',
 'EDISON 54 JT',
 'EDUCATION REENVISIONED BOCES',
 'ELIZABETH SCHOOL DISTRICT',
 'ELLICOTT 22',
 'ENGLEWOOD 1',
 'EXPEDITIONARY BOCES',
 'FORT MORGAN RE-3',
 'FOUNTAIN 8',
 'FOWLER R-4J',
 'FRENCHMAN RE-3',
 'GARFIELD 16',
 'GENOA-HUGO C113',
 'GREELEY 6',
 'HANOVER 28',
 'HARRISON 2',
 'HAYDEN RE-1',
 'HINSDALE COUNTY RE 1',
 'IDALIA RJ-3',
 'IGNACIO 11 JT',
 'JOHNSTOWN-MILLIKEN RE-5J',
 'JULESBURG RE-1',
 'KARVAL RE-23',
 'KIOWA C-2',
 'LEWIS-PALMER 38',
 'LIBERTY J-4',
 'LIMON RE-4J',
 'LITTLETON 6',
 'MANITOU SPRINGS 14',
 'MANZANOLA 3J',
 'MAPLETON 1',
 'MC CLAVE RE-2',
 'MIAMI/YODER 60 JT',
 'MOFFAT 2',
 'MOFFAT COUNTY RE:NO 1',
 'MOUNTAIN BOCES',
 'NORTH CONEJOS RE-1J',
 'NORTH PARK R-1 ',
 'OURAY R-1',
 'PAWNEE RE-12',
 'PEYTON 23 JT',
 'PLAINVIEW RE-2',
 'PLATEAU RE-5',
 'PLATEAU VALLEY 50',
 'PLATTE CANYON 1',
 'PLATTE VALLEY RE-7',
 'PRAIRIE RE-11',
 'PUEBLO CITY 60',
 'RANGELY RE-4',
 'RIDGWAY R-2',
 'ROCKY FORD R-2',
 'SANFORD 6J',
 'SCHOOL DISTRICT 27J',
 'SILVERTON 1',
 'SOUTH CONEJOS RE-10',
 'ST VRAIN VALLEY RE 1J',
 'STEAMBOAT SPRINGS RE-2',
 'STRATTON R-4',
 'SUMMIT RE-1',
 'SWINK 33',
 'THOMPSON R2-J',
 'TRINIDAD 1',
 'VALLEY RE-1',
 'WELD COUNTY RE-1',
 'WELD COUNTY S/D RE-8',
 'WELD COUNTY SCHOOL DISTRICT RE-3J',
 'WELDON VALLEY RE-20(J)',
 'WEST GRAND 1-JT',
 'WIDEFIELD 3',
 'WIGGINS RE-50(J)',
 'WINDSOR RE-4',
 'WRAY RD-2',
 'YUMA 1']

In [18]:
B = [name for name in list(fiscal_CO['NAME']) if name.lower() not in [low.lower() for low in CO['District Name']]]
B.sort()
B

['1 in the county of Denver and State of C',
 '14 in the county of Adams & State of Colo',
 '27J',
 '3 in the county of El Paso and State of',
 'Academy 20 in the county of El Paso an',
 'Arriba-Flagler Consolidated 20',
 'Aspen 1 in the county of Pitkin and Sta',
 'Aurora Joint District No. 28 of the counties of Adams and A',
 'Bayfield 10Jt-R',
 'Bethune R- 5',
 'Boulder Valley Re2',
 'Burlington Public RE-6J',
 'C-1 in the county of Elbert and State o',
 'C-2 in the county of Elbert and State of',
 'COLORADO DIGITAL BOCES',
 'Calhan District No. RJ1',
 'Center Consolidated 26 Jt. of the count',
 'Cheraw 31 in the county of Otero and S',
 'Cherry Creek 5 in the county of Arapah',
 'Cheyenne Mountain 12 in the county of E',
 'Colorado Springs 11 in the county of E',
 'Custer County Consolidate 1',
 'DENVER 1',
 'DEPARTMENT OF CORRECTIONS',
 'DIVISION OF YOUTH SERVICES',
 'De Beque Joint District No. 49 of the counties of Mesa and',
 'Del Norte Consolidated C-7',
 'Delta County Joint District No. 50',
 'Dolores County RE-2J',
 'East Otero R1',
 'Edison Joint District No. 54 of the counties of El Paso and',
 'Ellicott 22 in the county of El Paso a',
 'Englewood 1 in the county of Arapahoe',
 'Falcon 49 in the county of El Paso and',
 'Fountain 8 in the county of El Paso an',
 'Fowler R4J',
 'Fremont Re-1',
 'Fremont Re-3',
 'Genoa-Hugo C-113',
 'Grand Valley 16 in the county of Garfi',
 'Greeley6 in the county of Weld and Sta',
 'Hanover 28 in the county of El Paso an',
 'Harrison 2 in the county of El Paso an',
 'Hayden Re 1',
 'Hinsdale County Re-1',
 'Idalia RJ-3 School District',
 'Ignacio 11Jt',
 'Julesburg Re1',
 'Karval Re 23',
 'Kiowa County Re-1',
 'Kiowa County Re-2',
 'Lewis-Palmer Consolidated 38 in the co',
 'Liberty J-4 School District',
 'Limon Re 4J',
 'Littleton 6 in the county of Arapahoe',
 'Manitou Springs 14 in the county of El',
 'Manzanola Joint District No. 3J of the counties of Otero a',
 'Mapleton 1 in the county of Adams & St',
 'McClave Re-2',
 'Miami-Yoder Joint District No. 60 of the counties of El Pas',
 'Moffat 2 in the county of Saguache and',
 'Moffat County RE: No. 1',
 'North Conejos Re1J',
 'North Park R-1',
 'Ouray R-1 of  the county of Ouray and',
 'Peyton 23 in the county of El Paso and',
 'Plateau Valley 50 in the county of Mesa',
 'Platte Canyon 1 of  the county of Park',
 'Pueblo 60 in the county of Pueblo and',
 'R-4 in the county of Kit Carson and Stat',
 'Rangely RE4',
 'Re-1 Valley',
 'Re-11 in the county of Weld and State of',
 'Re-12 in the county of Weld and State of',
 'Re-2 Brush',
 'Re-20 Weldon Valley',
 'Re-3 Fort Morgan',
 'Re-3 Frenchman',
 'Re-4 Buffalo',
 'Re-5 Plateau',
 'Re-50 Wiggins',
 'Ridgway R-2  of  the county of Ouray a',
 'Rocky Ford R2',
 'Sanford 6 in the county of Conejos and',
 'Silverton 1 in the county of San Juan',
 'South Conejos Re10',
 'St. Vrain Valley Re1J',
 'State Charter School Institute',
 'Steamboat Springs Re 2',
 'Summit Re 1',
 'Swink 33 in the county of Otero and St',
 'Thompson R-2J',
 'Trinidad 1 in the county of Las Animas and',
 'Weld County RE-3J',
 'Weld County Re-2',
 'Weld County Re-5J',
 'Weld County Re-7',
 'Weld County Re-9',
 'Weld County Reorganized Re-1',
 'Weld County Reorganized Re-4',
 'Weld County Reorganized Re-8',
 'West Grand 1',
 'Wray RD-2 School District',
 'Yuma 1 School District',
 'chool District No. Re-10 in the county of Weld and State of']

Replace the names I can find matches for.

In [19]:
CO_fiscal_rename = {
 '1 in the county of Denver and State of C' : 'DENVER COUNTY 1',
 '14 in the county of Adams & State of Colo' : 'ADAMS COUNTY 14',
 '27J' :  'SCHOOL DISTRICT 27J',
 #'3 in the county of El Paso and State of',
 'Academy 20 in the county of El Paso an' : 'ACADEMY 20',
 'Arriba-Flagler Consolidated 20' : 'ARRIBA-FLAGLER C-20',
 'Aspen 1 in the county of Pitkin and Sta' : 'ASPEN 1',
 'Aurora Joint District No. 28 of the counties of Adams and A' : 'ADAMS-ARAPAHOE 28J',
 'Bayfield 10Jt-R' : 'BAYFIELD 10 JT-R',
 'Bethune R- 5' : 'BETHUNE R-5',
 'Boulder Valley Re2' : 'BOULDER VALLEY RE 2',
 'Burlington Public RE-6J' : 'BURLINGTON RE-6J',
 #'C-1 in the county of Elbert and State o',
 #'C-2 in the county of Elbert and State of',
 #'COLORADO DIGITAL BOCES',
 'Calhan District No. RJ1' : 'CALHAN RJ-1',
 'Center Consolidated 26 Jt. of the count' :  'CENTER 26 JT',
 'Cheraw 31 in the county of Otero and S' : 'CHERAW 31',
 'Cherry Creek 5 in the county of Arapah' : 'CHERRY CREEK 5',
 'Cheyenne Mountain 12 in the county of E' : 'CHEYENNE MOUNTAIN 12',
 'Colorado Springs 11 in the county of E' : 'COLORADO SPRINGS 11',
 'Custer County Consolidate 1' : 'CUSTER COUNTY SCHOOL DISTRICT C-1',
 'DENVER 1' : 'DENVER COUNTY 1',
 #'DEPARTMENT OF CORRECTIONS',
 #'DIVISION OF YOUTH SERVICES',
 'De Beque Joint District No. 49 of the counties of Mesa and' : 'DE BEQUE 49JT',
 'Del Norte Consolidated C-7' : 'DEL NORTE C-7',
 'Delta County Joint District No. 50' : 'DELTA COUNTY 50(J)',
 'Dolores County RE-2J' : 'DOLORES COUNTY RE NO.2',
 'East Otero R1' : 'EAST OTERO R-1',
 'Edison Joint District No. 54 of the counties of El Paso and' : 'EDISON 54 JT',
 'Ellicott 22 in the county of El Paso a' : 'ELLICOTT 22',
 'Englewood 1 in the county of Arapahoe' : 'ENGLEWOOD 1',
 ###'Falcon 49 in the county of El Paso and' : 'DISTRICT 49',
 'Fountain 8 in the county of El Paso an' : 'FOUNTAIN 8',
 'Fowler R4J' : 'FOWLER R-4J',
 #'Fremont Re-1',
 #'Fremont Re-3',
 'Genoa-Hugo C-113' : 'GENOA-HUGO C113',
 'Grand Valley 16 in the county of Garfi' : 'GARFIELD 16',
 'Greeley6 in the county of Weld and Sta' : 'GREELEY 6',
 'Hanover 28 in the county of El Paso an' : 'HANOVER 28',
 'Harrison 2 in the county of El Paso an' : 'HARRISON 2',
 'Hayden Re 1' : 'HAYDEN RE-1',
 'Hinsdale County Re-1' : 'HINSDALE COUNTY RE 1',
 'Idalia RJ-3 School District' : 'IDALIA RJ-3',
 'Ignacio 11Jt' : 'IGNACIO 11 JT',
 'Julesburg Re1' : 'JULESBURG RE-1',
 'Karval Re 23' : 'KARVAL RE-23',
 #'Kiowa County Re-1',
 'Kiowa County Re-2' : 'KIOWA C-2',
 'Lewis-Palmer Consolidated 38 in the co' : 'LEWIS-PALMER 38',
 'Liberty J-4 School District' : 'LIBERTY J-4',
 'Limon Re 4J' : 'LIMON RE-4J',
 'Littleton 6 in the county of Arapahoe' : 'LITTLETON 6',
 'Manitou Springs 14 in the county of El' : 'MANITOU SPRINGS 14',
 'Manzanola Joint District No. 3J of the counties of Otero a' : 'MANZANOLA 3J',
 'Mapleton 1 in the county of Adams & St' : 'MAPLETON 1',
 'McClave Re-2' : 'MC CLAVE RE-2',
 'Miami-Yoder Joint District No. 60 of the counties of El Pas' : 'MIAMI/YODER 60 JT',
 'Moffat 2 in the county of Saguache and' : 'MOFFAT 2',
 'Moffat County RE: No. 1' : 'MOFFAT COUNTY RE:NO 1',
 'North Conejos Re1J' : 'NORTH CONEJOS RE-1J',
 'North Park R-1' : 'NORTH PARK R-1 ',
 'Ouray R-1 of  the county of Ouray and' : 'OURAY R-1',
 'Peyton 23 in the county of El Paso and' :  'PEYTON 23 JT',
 'Plateau Valley 50 in the county of Mesa' : 'PLATEAU VALLEY 50',
 'Platte Canyon 1 of  the county of Park' : 'PLATTE CANYON 1',
 'Pueblo 60 in the county of Pueblo and' : 'PUEBLO CITY 60',
 #'R-4 in the county of Kit Carson and Stat',
 'Rangely RE4' : 'RANGELY RE-4',
 'Re-1 Valley' : 'VALLEY RE-1',
 #'Re-11 in the county of Weld and State of',
 #'Re-12 in the county of Weld and State of',
 'Re-2 Brush' : 'BRUSH RE-2(J)',
 'Re-20 Weldon Valley' : 'WELDON VALLEY RE-20(J)',
 'Re-3 Fort Morgan' : 'FORT MORGAN RE-3',
 'Re-3 Frenchman' : 'FRENCHMAN RE-3',
 'Re-4 Buffalo' : 'BUFFALO RE-4J',
 'Re-5 Plateau' : 'PLATEAU RE-5',
 'Re-50 Wiggins' : 'WIGGINS RE-50(J)',
 'Ridgway R-2  of  the county of Ouray a' : 'RIDGWAY R-2',
 'Rocky Ford R2' : 'ROCKY FORD R-2',
 'Sanford 6 in the county of Conejos and' : 'SANFORD 6J',
 'Silverton 1 in the county of San Juan' : 'SILVERTON 1',
 'South Conejos Re10' : 'SOUTH CONEJOS RE-10',
 'St. Vrain Valley Re1J' : 'ST VRAIN VALLEY RE 1J',
 #'State Charter School Institute',
 'Steamboat Springs Re 2' : 'STEAMBOAT SPRINGS RE-2',
 'Summit Re 1' : 'SUMMIT RE-1',
 'Swink 33 in the county of Otero and St' : 'SWINK 33',
 'Thompson R-2J' : 'THOMPSON R2-J',
 'Trinidad 1 in the county of Las Animas and' : 'TRINIDAD 1',
 'Weld County RE-3J' : 'WELD COUNTY SCHOOL DISTRICT RE-3J',
 #'Weld County Re-2',
 #'Weld County Re-5J',
 #'Weld County Re-7',
 #'Weld County Re-9',
 'Weld County Reorganized Re-1' : 'WELD COUNTY RE-1',
 #'Weld County Reorganized Re-4',
 'Weld County Reorganized Re-8' : 'WELD COUNTY S/D RE-8',
 'West Grand 1' :  'WEST GRAND 1-JT',
 'Wray RD-2 School District' : 'WRAY RD-2',
 'Yuma 1 School District' : 'YUMA 1',
 #'chool District No. Re-10 in the county of Weld and State of'
}

In [20]:
fiscal_CO = fiscal_CO.replace(CO_fiscal_rename)

Set both lists of names to be in uppercase to make sure they match when merging.

In [21]:
fiscal_CO.loc[:]['NAME'] = list(fiscal_CO['NAME'].astype(str).str.upper())
CO.loc[:]['District Name'] = list(CO['District Name'].astype(str).str.upper())

Merge federal and state data, keeping only matches between the two.

In [22]:
CO_merged = pd.merge(fiscal_CO, CO, how='inner', left_on='NAME', right_on='District Name')

In [23]:
CO_merged

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3,District Name,Total,Graduation Rate
0,0800001,06500900300000,08,08017,N,N,CHEYENNE COUNTY RE-5,Colorado,CO,03,...,R,R,R,R,I,I,R,CHEYENNE COUNTY RE-5,18.0,0.777778
1,0800004,06501620100000,08,08031,216,19740,DENVER COUNTY 1,Colorado,CO,07,...,R,R,R,R,I,R,R,DENVER COUNTY 1,5796.0,0.701518
2,0803360,06501600100000,08,08031,216,19740,DENVER COUNTY 1,Colorado,CO,03,...,R,R,R,R,I,I,R,DENVER COUNTY 1,5796.0,0.701518
3,0800016,06506330100000,08,08125,N,N,YUMA 1,Colorado,CO,03,...,R,R,R,R,I,I,R,YUMA 1,47.0,0.744681
4,0800017,06506330300000,08,08125,N,N,WRAY RD-2,Colorado,CO,03,...,R,R,R,R,I,I,R,WRAY RD-2,39.0,0.923077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,0807320,06505003600000,08,08099,N,N,WILEY RE-13 JT,Colorado,CO,03,...,R,R,R,R,I,I,R,WILEY RE-13 JT,18.0,1.000000
162,0807380,06506000800000,08,08119,N,17820,WOODLAND PARK RE-2,Colorado,CO,03,...,R,R,R,R,I,I,R,WOODLAND PARK RE-2,202.0,0.846535
163,0807410,06506150200000,08,08121,N,N,WOODLIN R-104,Colorado,CO,03,...,R,R,R,R,I,I,R,WOODLIN R-104,9.0,1.000000
164,0899200,06500760100000,08,08123,216,24540,CENTENNIAL BOCES,Colorado,CO,07,...,R,R,R,R,I,I,R,CENTENNIAL BOCES,106.0,0.490566
165,0899300,06503460100000,08,08067,N,20420,SAN JUAN BOCES,Colorado,CO,07,...,R,R,R,R,I,I,R,SAN JUAN BOCES,16.0,0.750000

Save cleaned data.

In [24]:
CO_merged.to_csv('../../data/state_data_merged/CO.csv', index=False)