In [1]:
import pandas as pd
import numpy as np

In [2]:
abbr = 'IL'

Read in federal level data

In [3]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [4]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [5]:
len(state_fiscal)

526

In [6]:
state_fiscal.head()

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
3494,1700001,14504300200000,17,17085,N,N,River Ridge CUSD 210,Illinois,IL,03,...,R,R,R,R,M,M,M,M,M,M
3495,1700002,14501200100000,17,17023,N,N,Casey-Westfield CUSD 4C,Illinois,IL,03,...,R,R,R,R,M,M,M,M,M,M
3496,1700003,14502060100000,17,17039,145,14010,Blue Ridge CUSD 18,Illinois,IL,03,...,R,R,R,R,M,M,M,M,M,M
3497,1700004,14509701800000,17,17193,N,N,Norris City-Omaha-Enfield CUSD 3,Illinois,IL,03,...,R,R,R,R,M,M,M,M,M,M
3498,1700005,14505301200000,17,17105,145,38700,Prairie Central CUSD 8,Illinois,IL,03,...,R,R,R,R,M,M,M,M,M,M

Read in state level data

In [7]:
state_grads = pd.read_excel('../../data/state_data_raw/illinois2018.xlsx', sheet_name='General')

In [8]:
state_grads

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Five Essential Survey Involved Families Level,Five Essential Survey Supportive Environment,Five Essential Survey Supportive Environment Level,Five Essential Survey Ambitious Instruction,Five Essential Survey Ambitious Instruction.1,Five Essential Survey Student Response Rate %,Five Essential Survey Teacher Response Rate %,Five Essential Survey Schools with over 50% Response Rate %,Five Essential Survey Student Response Rate Median,Five Essential Survey Teacher Response Rate Median
0,010010010260000,District,NaN,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
1,010010010260001,School,Seymour High School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,3.0,49.0,3.0,45.0,3.0,91.4,75.0,NaN,NaN,NaN
2,010010010262002,School,Seymour Elementary School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2 3 4 5 6,...,2.0,56.0,3.0,40.0,3.0,97.5,99.9,NaN,NaN,NaN
3,010010020260000,District,NaN,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,010010020260001,School,Liberty High School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,0.0,0.0,0.0,0.0,0.0,0.0,47.1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4749,56099365U262014,School,Pioneer Elementary School,Valley View CUSD 365U,Bolingbrook,Will,UNIT,LARGE,ELEMENTARY,K 1 2 3 4 5,...,3.0,0.0,0.0,0.0,0.0,0.0,99.9,NaN,NaN,NaN
4750,56099365U262015,School,Kenneth L Hermansen Elementary,Valley View CUSD 365U,Romeoville,Will,UNIT,LARGE,ELEMENTARY,K 1 2 3 4 5,...,2.0,0.0,0.0,0.0,0.0,0.0,99.9,NaN,NaN,NaN
4751,56099365U262016,School,Skoff Elementary,Valley View CUSD 365U,Romeoville,Will,UNIT,LARGE,ELEMENTARY,K 1 2 3 4 5,...,3.0,0.0,0.0,0.0,0.0,0.0,99.9,NaN,NaN,NaN
4752,56099365U263002,School,Valley View Early Childhood Cntr,Valley View CUSD 365U,Romeoville,Will,UNIT,LARGE,PreK,PK,...,4.0,0.0,0.0,0.0,0.0,0.0,99.9,NaN,NaN,NaN
4753,NaN,Statewide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0,78.7,82.6

Filter samples.

In [9]:
state_grads = state_grads[state_grads['Type'] == 'District']

Select and rename columns.

In [10]:
state_grads['Total'] = np.full_like(state_grads['District'], '')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
state_grads = state_grads[['District', 'Total', 'High School 4-Year Graduation Rate - Total']]

In [12]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [13]:
state_grads

              District Name Total  Graduation Rate
0             Payson CUSD 1                   97.6
3            Liberty CUSD 2                  100.0
6            Central CUSD 3                   96.8
11                   CUSD 4                   98.1
15            Quincy SD 172                   87.5
...                     ...   ...              ...
4708  Crete Monee CUSD 201U                   91.8
4717      Peotone CUSD 207U                   89.9
4723   Wilmington CUSD 209U                   92.9
4728  Reed Custer CUSD 255U                   94.4
4732  Valley View CUSD 365U                   88.2

[865 rows x 3 columns]

In [14]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 865 entries, 0 to 4732
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    865 non-null    object
 1   Total            865 non-null    object
 2   Graduation Rate  479 non-null    float64
dtypes: float64(1), object(2)
memory usage: 27.0+ KB

Convert data types.

In [15]:
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100

Check for matches and non-matches in the two lists

In [16]:
Matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
Matches.sort()
len(Matches)

480

In [17]:
state_fiscal['NAME'] = state_fiscal['NAME'].str.replace(' INC.', '')
state_fiscal['NAME'] = state_fiscal['NAME'].str.replace(' SCHOOL', '')
state_fiscal['NAME'] = state_fiscal['NAME'].str.replace(' DISTRICT', '')
state_fiscal['NAME'] = state_fiscal['NAME'].str.replace(' CHARTER', '')

state_grads['District Name'] = state_grads['District Name'].str.replace(' SCHOOL', '')
state_grads['District Name'] = state_grads['District Name'].str.replace(' DISTRICT', '')
state_grads['District Name'] = state_grads['District Name'].str.replace(' CHARTER', '')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [18]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['Addison SD 4',
 'Akin CCSD 91',
 'Albers SD 63',
 'Allen-Otter Creek CCSD 65',
 'Allendale CCSD 17',
 'Alsip-Hazlgrn-Oaklwn SD 126',
 'Anna CCSD 37',
 'Antioch CCSD 34',
 'Aptakisic-Tripp CCSD 102',
 'Arbor Park SD 145',
 'Arlington Heights SD 25',
 'Armstrong-Ellis Cons SD 61',
 'Ashley CCSD 15',
 'Atwood Heights SD 125',
 'Aviston SD 21',
 'Avoca SD 37',
 'Bannockburn SD 106',
 'Bartelso SD 57',
 'Bartonville SD 66',
 'Beach Park CCSD 3',
 'Belle Valley SD 119',
 'Belleville SD 118',
 'Bellwood SD 88',
 'Benjamin SD 25',
 'Bensenville SD 2',
 'Benton CCSD 47',
 'Berkeley SD 87',
 'Berwyn North SD 98',
 'Berwyn South SD 100',
 'Bethel SD 82',
 'Betty Shabazz  International Charter School',
 'Big Hollow SD 38',
 'Bismarck Henning Rossville Alvin Cooperative High School',
 'Bloomingdale SD 13',
 'Bourbonnais SD 53',
 'Braceville SD 75',
 'Bradford CUSD 1',
 'Bradley SD 61',
 'Breese ESD 12',
 'Bronzeville Academy Chtr School',
 'Brookfield Lagrange Park SD 95',
 'Brookwood SD 167',
 'Buncombe Cons SD 43',
 'Burbank SD 111',
 'Burnham SD 154-5',
 'Butler SD 53',
 'CCSD 146',
 'CCSD 168',
 'CCSD 180',
 'CCSD 204',
 'CCSD 62',
 'CCSD 89',
 'CCSD 93',
 'Calumet City SD 155',
 'Calumet Public SD 132',
 'Carbon Cliff-Barstow SD 36',
 'Carbondale ESD 95',
 'Carthage ESD 317',
 'Cary CCSD 26',
 'Cass SD 63',
 'Center Cass SD 66',
 'Central City SD 133',
 'Central SD 104',
 'Central SD 51',
 'Central Stickney SD 110',
 'Centralia SD 135',
 'Chaney-Monge SD 88',
 'Channahon SD 17',
 'Chester-East Lincoln CCSD 61',
 'Chicago Heights SD 170',
 'Chicago Ridge SD 127-5',
 'Cicero SD 99',
 'Colona SD 190',
 'Comm Cons SD 59',
 'Cook County SD 130',
 'Cornell CCSD 426',
 'Country Club Hills SD 160',
 'County of Union Sch Dist No43',
 'Crescent Iroquois CUSD 249',
 'Creston CCSD 161',
 'Creve Coeur SD 76',
 'Crystal Lake CCSD 47',
 'Cypress SD 64',
 'Dallas ESD 327',
 'Dalzell SD 98',
 'Damiansville SD 62',
 'Darien SD 61',
 'DeSoto Cons SD 86',
 'Deer Park CCSD 82',
 'Deerfield SD 109',
 'Diamond Lake SD 76',
 'Dimmick Community Consolidated SD #175',
 'District 50 Schools',
 'Dolton SD 148',
 'Dolton SD 149',
 'Downers Grove GSD 58',
 'Dwight Common SD 232',
 'ESD 159',
 'East Alton SD 13',
 'East Coloma - Nelson CESD 20',
 'East Maine SD 63',
 'East Moline SD 37',
 'East Peoria SD 86',
 'East Prairie SD 73',
 'Elwood CCSD 203',
 'Emmons SD 33',
 'Eswood CCSD 269',
 'Evanston CCSD 65',
 'Evergreen Park ESD 124',
 'Ewing Northern CCSD 115',
 'Fairfield PSD 112',
 'Fairmont SD 89',
 'Fairview SD 72',
 'Farrington CCSD 99',
 'Field CCSD 3',
 'Flossmoor SD 161',
 'Ford Heights SD 169',
 'Forest Park SD 91',
 'Forest Ridge SD 142',
 'Fox Lake GSD 114',
 'Fox River Grove Cons SD 3',
 'Frankfort CCSD 157C',
 'Franklin Park SD 84',
 'Freeburg CCSD 70',
 'Fremont SD 79',
 'Gardner CCSD 72C',
 'Gavin SD 37',
 'Geff CCSD 14',
 'Gen George Patton SD 133',
 'Germantown Hills SD 69',
 'Germantown SD 60',
 'Giant City CCSD 130',
 'Gifford CCSD 188',
 'Glen Ellyn SD 41',
 'Glencoe SD 35',
 'Glenview CCSD 34',
 'Golf ESD 67',
 'Gower SD 62',
 'Grand Prairie CCSD 6',
 'Grand Ridge CCSD 95',
 'Grant CCSD 110',
 'Grass Lake SD 36',
 'Grayslake CCSD 46',
 'Gurnee SD 56',
 'Hampton SD 29',
 'Harmony Emge SD 175',
 'Harrison SD 36',
 'Hawthorn CCSD 73',
 'Hazel Crest SD 152-5',
 'High Mount SD 116',
 'Hillside SD 93',
 'Hinsdale CCSD 181',
 'Hollis Cons SD 328',
 'Homer CCSD 33C',
 'Homewood SD 153',
 'Hoover-Schrum Memorial SD 157',
 'Horizon Science Acad-Belmont Charter Sch',
 'Horizon Science Acad-McKinley Park Charter Sch',
 'Huntley Community School District 158',
 'Indian Springs SD 109',
 'Irvington CCSD 11',
 'Itasca SD 10',
 'Iuka CCSD 7',
 'Jasper CCSD 17',
 'John C Dunham STEM Partnership School',
 'Joliet PSD 86',
 'Keeneyville SD 20',
 'Kell Cons SD 2',
 'Kenilworth SD 38',
 'Kildeer Countryside CCSD 96',
 'Kings Cons SD 144',
 'Kinnikinnick CCSD 131',
 'Kirby SD 140',
 'Komarek SD 94',
 'LEARN Charter 9 Campus in Waukegan',
 'La Grange SD 102',
 'La Grange SD 105 South',
 'La Harpe CSD 347',
 'La Salle ESD 122',
 'LaGrange Highlands SD 106',
 'Ladd CCSD 94',
 'Lake Bluff ESD 65',
 'Lake Forest SD 67',
 'Lake Villa CCSD 41',
 'Lansing SD 158',
 'Laraway CCSD 70C',
 'Lemont-Bromberek CSD 113A',
 'Libertyville SD 70',
 'Lick Creek CCSD 16',
 'Limestone Walters CCSD 316',
 'Lincoln ESD 156',
 'Lincoln ESD 27',
 'Lincolnshire-Prairieview SD 103',
 'Lincolnwood SD 74',
 'Lindop SD 92',
 'Lisbon CCSD 90',
 'Lockport SD 91',
 'Lombard SD 44',
 'Lostant CUSD 425',
 'Ludlow CCSD 142',
 'Lyons SD 103',
 'Maercker SD 60',
 'Malden CCSD 84',
 'Manhattan SD 114',
 'Mannheim SD 83',
 'Marengo-Union E Cons D 165',
 'Marquardt SD 15',
 'Marseilles ESD 150',
 'Matteson ESD 162',
 'Maywood-Melrose Park-Broadview 89',
 'Mazon-Verona-Kinsman ESD 2C',
 'McClellan CCSD 12',
 'McHenry CCSD 15',
 'Medinah SD 11',
 'Mendota CCSD 289',
 'Metamora CCSD 1',
 'Midlothian SD 143',
 'Milford Area Public Schools District 124',
 'Millburn CCSD 24',
 'Miller Twp CCSD 210',
 'Millstadt CCSD 160',
 'Minooka CCSD 201',
 'Mokena SD 159',
 'Monroe SD 70',
 'Montmorency CCSD 145',
 'Morris SD 54',
 'Morton Grove SD 70',
 'Mount Prospect SD 57',
 'Mount Vernon SD 80',
 'Mundelein ESD 75',
 'N Pekin & Marquette Hght SD 102',
 'Nashville CCSD 49',
 'Nauvoo-Colusa CUSD 325',
 'Nettle Creek CCSD 24C',
 'New Holland-Middletown ED 88',
 'New Hope CCSD 6',
 'New Lenox SD 122',
 'New Simpson Hill SD 32',
 'Newark CCSD 66',
 'Niles ESD 71',
 'Nippersink SD 2',
 'Norridge SD 80',
 'North Palos SD 117',
 'North Shore SD 112',
 'North Wamac SD 186',
 'Northbrook ESD 27',
 'Northbrook SD 28',
 'Northbrook/Glenview SD 30',
 'Norwood ESD 63',
 'O Fallon CCSD 90',
 'Oak Grove SD 68',
 'Oak Grove SD 68',
 'Oak Lawn-Hometown SD 123',
 'Oak Park ESD 97',
 'Oakdale CCSD 1',
 'Odell CCSD 435',
 'Oglesby ESD 125',
 'Ohio CCSD 17',
 'Opdyke-Belle-Rive CCSD 5',
 'Orland SD 135',
 'Ottawa ESD 141',
 'Palatine CCSD 15',
 'Palos CCSD 118',
 'Palos Heights SD 128',
 'Park Forest SD 163',
 'Park Ridge CCSD 64',
 'Pekin PSD 108',
 'Pembroke CCSD 259',
 'Pennoyer SD 79',
 'Peru ESD 124',
 'Pinckneyville SD 50',
 'Pleasant Hill SD 69',
 'Pleasant Valley SD 62',
 'Pleasantdale SD 107',
 'Pontiac CCSD 429',
 'Pontiac-W Holliday SD 105',
 'Posen-Robbins ESD 143-5',
 'Potomac CUSD 10',
 'Prairie Crossing Charter School',
 'Prairie Du Rocher CCSD 134',
 'Prairie Grove CSD 46',
 'Prairie Hill CCSD 133',
 'Prairie-Hills ESD 144',
 'Prairieview-Ogden CCSD 197',
 'Prospect Heights SD 23',
 'Queen Bee SD 16',
 'Raccoon Cons SD 1',
 'Rankin CSD 98',
 'Rantoul City SD 137',
 'Rhodes SD 84-5',
 'Richland GSD 88A',
 'Ridgeland SD 122',
 'Riley CCSD 18',
 'River Forest SD 90',
 'River Grove SD 85-5',
 'River Trails SD 26',
 'Riverside SD 96',
 'Riverview CCSD 2',
 'Robein SD 85',
 'Rochelle CCSD 231',
 'Rock Falls ESD 13',
 'Rockdale SD 84',
 'Rockton SD 140',
 'Rome CCSD 2',
 'Rondout SD 72',
 'Rooks Creek CCSD 425',
 'Roselle SD 12',
 'Rosemont ESD 78',
 'Rutland CCSD 230',
 'SD 45 DuPage County',
 'Salem SD 111',
 'Salt Creek SD 48',
 'Salt Fork Community Unit District  512',
 'Sandridge SD 172',
 'Saratoga CCSD 60C',
 'Saunemin CCSD 438',
 'Schaumburg CCSD 54',
 'Schiller Park SD 81',
 'Selmaville CCSD 10',
 'Seneca CCSD 170',
 'Shiloh Village SD 85',
 'Shirland CCSD 134',
 'Signal Hill SD 181',
 'Silvis SD 34',
 'Skokie SD 68',
 'Skokie SD 69',
 'Skokie SD 73-5',
 'Smithton CCSD 130',
 'South Holland SD 150',
 'South Holland SD 151',
 'South Pekin SD 137',
 'South Wilmington CCSD 74',
 'Southland College Prep Charter High School',
 'Spring Garden Community Consolidated School District 178',
 'Spring Lake CCSD 606',
 'Spring Valley CCSD 99',
 'St Anne CCSD 256',
 'St George CCSD 258',
 'St Joseph CCSD 169',
 'St Libory Cons SD 30',
 'St Rose SD 14-15',
 'Steger SD 194',
 'Steward ESD 220',
 'Streator ESD 44',
 'Summersville SD 79',
 'Summit Hill SD 161',
 'Summit SD 104',
 'Sunnybrook SD 171',
 'Sunset Ridge SD 29',
 'Taft SD 90',
 'Tamaroa School Dist 5',
 'Thomasboro CCSD 130',
 'Thornton SD 154',
 'Tonica CCSD 79',
 'Troy CCSD 30C',
 'Union Ridge SD 86',
 'Union SD 81',
 'Unity Point CCSD 140',
 'Venice CUSD 3',
 'Vienna SD 55',
 'W Harvey-Dixmoor PSD 147',
 'Wallace CCSD 195',
 'Waltham CCSD 185',
 'Washington SD 52',
 'West Chicago ESD 33',
 'West Lincoln-Broadwell ESD 92',
 'West Northfield SD 31',
 'Westchester SD 92-5',
 'Western Springs SD 101',
 'Wheeling CCSD 21',
 'Whiteside SD 115',
 'Will County SD 92',
 'Willow Grove SD 46',
 'Willow Springs SD 108',
 'Wilmette SD 39',
 'Winfield SD 34',
 'Winnetka SD 36',
 'Winthrop Harbor SD 1',
 'Wolf Branch SD 113',
 'Wood Dale SD 7',
 'Wood River-Hartford ESD 15',
 'Woodland CCSD 50',
 'Woodridge SD 68',
 'Worth SD 127',
 'Zion ESD 6']

In [19]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['Adam/Brwn/Cass/Morgn/Pik/Sctt ROE',
 'Alxndr/Jcksn/Pulsk/Prry/Union ROE',
 'B H R A Cooperative HS',
 'Bnd/Chrstn/Effngh/Fytt/Mntgmr ROE',
 'Boone/Winnebago ROE',
 'Bureau/Henry/Stark ROE',
 'Calhoun/Greene/Jersy/Macoupin ROE',
 'Carroll/Jo Daviess/Stephenson ROE',
 'Champaign/Ford ROE',
 'Clay/Cwford/Jsper/Lwrnce/Rhland',
 'Clintn/Jeffrsn/Marin/Washngtn ROE',
 'Clk/Cls/Cmbn/Dglas/Edgr/Mltr/Shlb',
 'De Kalb ROE',
 'DeWitt/Livingstn/Logan/McLean ROE',
 'Dept of Human Services',
 'DuPage ROE',
 'Edw/Glt/Hlt/Hdn/Pop/Sln/Wbh/Wn/Wh',
 'Frankln/Johnsn/Massc/Willimsn ROE',
 'Grundy/Kendall ROE',
 'Hancck/Fultn/Schuylr/McDonogh ROE',
 'Henderson/Knox/Mercer/Warren ROE',
 'Horizon Science Acad-McKinley Pk',
 'Huntley Comm Sch Dist 158',
 'Iroquois/Kankakee ROE',
 'Kane ROE',
 'La Salle/Marshall/Putnam ROE',
 'Lake ROE',
 'Lee County Spec Educ Assoc',
 'Lee/Ogle/Whiteside ROE',
 'Macon/Piatt ROE',
 'Madison ROE',
 'Mason/Tazewell/Woodford ROE',
 'McHenry ROE',
 'Menard/Sangamon ROE',
 'Milford Area PSD 124',
 'Monroe/Randolph ROE',
 'Peoria ROE',
 'Region 05 North Cook ISC 1',
 'Region 06 West Cook ISC 2',
 'Region 07 South Cook ISC 4',
 'Saint Clair ROE',
 'Salt Fork CUSD 512',
 'Southland College Prep Chtr HS',
 'Southwest Cook Coop Spec Ed',
 'Vermilion ROE',
 'Will ROE']

Replace the names I can find matches for.

In [20]:
state_grads_rename = {
    'Horizon Science Acad-McKinley Pk' : 'Horizon Science Acad-McKinley Park Charter Sch',
    'Huntley Comm Sch Dist 158' : 'Huntley Community School District 158',
    'Milford Area PSD 124' : 'Milford Area Public Schools District 124',
    'Salt Fork CUSD 512' : 'Salt Fork Community Unit District  512',
    'Southland College Prep Chtr HS' : 'Southland College Prep Charter High School'
}

In [21]:
state_fiscal = state_fiscal.replace(state_grads_rename)

Merge federal and state data, keeping only matches between the two.

In [22]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [23]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)