In [1]:
import pandas as pd
import numpy as np

In [2]:
abbr = 'LA'

In [3]:
file = 'louisiana2018.xlsx'

Read in federal level data

In [4]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [5]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [6]:
len(state_fiscal)

114

In [7]:
state_fiscal.head()

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
5842,2200017,N,22,22069,N,35060,Louisiana School for Math Science & the Arts,Louisiana,LA,02,...,R,R,R,R,R,R,R,M,M,M
5843,2200018,N,22,22033,N,12940,LA Schools for the Deaf and Visually Impaired,Louisiana,LA,03,...,N,N,N,N,N,N,N,N,N,N
5844,2200020,N,22,22079,N,10780,Louisiana Special Education Center,Louisiana,LA,03,...,N,N,N,N,N,N,N,N,N,N
5845,2200022,N,22,22033,N,12940,LSU Laboratory School,Louisiana,LA,03,...,R,R,R,R,R,R,R,M,M,M
5846,2200023,N,22,22033,N,12940,Southern University Lab School,Louisiana,LA,03,...,R,R,R,R,R,R,R,M,M,M

Read in state level data

In [8]:
state_grads = pd.read_excel('../../data/state_data_raw/' + file)

In [9]:
state_grads.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,2017-18 Cohort Graduation Rates by Subgroup,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,The Louisiana Department of Education has modi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,School/School System Code,School/School System Name,Overall Cohort Grad Rate,American Indian/Alaskan Native Rate,Asian Rate,Black/African American Rate,Hispanic Rate,White Rate,Native Hawaiian/Pacific Islander Rate,Multi-Race Rate,Economically disadvantaged rate,Students with disabilities rate,English Learner rate,Homeless rate,Foster Care Rate,Military Affiliation Rate
3,LA,Louisiana Statewide,81.4,88.6,92.4,78.1,67.7,85.5,76.3,81.2,75.5,59.3,36.3,60.2,34.8,>95
4,001,Acadia Parish,92.7,~,NR,90.1,72.7,94,NR,>95,89.5,58.3,~,NR,NR,~

Reset columns.

In [10]:
state_grads.columns = state_grads.iloc[2]
state_grads = state_grads.iloc[3:]

In [11]:
state_grads

2,School/School System Code,School/School System Name,Overall Cohort Grad Rate,American Indian/Alaskan Native Rate,Asian Rate,Black/African American Rate,Hispanic Rate,White Rate,Native Hawaiian/Pacific Islander Rate,Multi-Race Rate,Economically disadvantaged rate,Students with disabilities rate,English Learner rate,Homeless rate,Foster Care Rate,Military Affiliation Rate
3,LA,Louisiana Statewide,81.4,88.6,92.4,78.1,67.7,85.5,76.3,81.2,75.5,59.3,36.3,60.2,34.8,>95
4,001,Acadia Parish,92.7,~,NR,90.1,72.7,94,NR,>95,89.5,58.3,~,NR,NR,~
5,001005,Church Point High School,87.2,NR,NR,82.8,~,89.3,NR,~,76.9,~,~,NR,NR,NR
6,001007,Crowley High School,>95,NR,NR,94.9,~,>95,NR,~,93.5,63.6,~,NR,NR,~
7,001017,Midland High School,>95,NR,NR,~,NR,>95,NR,~,95,~,NR,NR,NR,NR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,W5B001,Northeast Claiborne Charter,85.7,NR,NR,~,~,~,NR,NR,81.8,~,NR,~,NR,NR
418,W9A001,Vision Academy,26.4,NR,NR,26.4,NR,NR,NR,NR,32.6,~,NR,~,NR,NR
419,WAG001,Louisiana Virtual Charter Academy,37,~,NR,27.3,~,37.3,NR,~,34.7,33.3,NR,NR,NR,~
420,WAL001,JS Clark Leadership Academy,>95,NR,NR,>95,NR,~,NR,NR,>95,~,NR,NR,NR,NR
421,R17,East Baton Rouge All (East Baton Rouge Parish ...,71.7,~,94.6,71.1,47,78.5,~,79.2,64.7,46.5,22.4,36,~,~

Select and rename columns.

In [12]:
state_grads['Total'] = np.full_like(state_grads['Overall Cohort Grad Rate'], '')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
state_grads = state_grads[['School/School System Name', 'Total', 'Overall Cohort Grad Rate']]

In [14]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [15]:
state_grads

                                         District Name Total Graduation Rate
3                                  Louisiana Statewide                  81.4
4                                        Acadia Parish                  92.7
5                             Church Point High School                  87.2
6                                  Crowley High School                   >95
7                                  Midland High School                   >95
..                                                 ...   ...             ...
417                        Northeast Claiborne Charter                  85.7
418                                     Vision Academy                  26.4
419                  Louisiana Virtual Charter Academy                    37
420                        JS Clark Leadership Academy                   >95
421  East Baton Rouge All (East Baton Rouge Parish ...                  71.7

[419 rows x 3 columns]

In [16]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419 entries, 3 to 421
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    419 non-null    object
 1   Total            419 non-null    object
 2   Graduation Rate  419 non-null    object
dtypes: object(3)
memory usage: 9.9+ KB

Convert data types.

In [22]:
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('>', '')
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('<', '')
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('~', '')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
state_grads['Total'] = pd.to_numeric(state_grads['Total'])
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Check for matches and non-matches in the two lists

In [26]:
Matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
Matches.sort()
len(Matches)

101

In [27]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['Abbeville High School',
 'Academic Recovery Ombudsman',
 'Acadiana High School',
 'Airline High School',
 'Albany High School',
 'Alexander Learning Center',
 'Alexandria Senior High School',
 'Alfred M. Barbe High School',
 'Amite High Magnet',
 'Anacoco High School',
 'Arcadia High School',
 'Arlington Preparatory Academy',
 'Assumption High School',
 'Atlanta High School',
 'Avoyelles High School',
 'Baker High School',
 'Basile High School',
 'Bastrop High School',
 'Baton Rouge Magnet High School',
 'Beau Chene High School',
 'Beekman Charter School',
 'Belaire High School',
 'Bell City High School',
 'Belle Chasse High School',
 'Benton High School',
 'Berwick High School',
 'Bienville High School',
 'Block High School',
 'Bogalusa High School',
 'Bolton High School',
 'Bonnabel Magnet Academy High School',
 'Booker T. Washington New Technology High School',
 'Bossier High School',
 'Breaux Bridge High School',
 'Broadmoor Senior High School',
 'Brusly High School',
 'Buckeye High School',
 'Bunkie Magnet High School',
 'C.E. Byrd High School',
 'C.F. Rowley Alternative School',
 'Caddo Parish Magnet High School',
 'Caddo Virtual Academy',
 'Caldwell Parish High School',
 'Calvin High School',
 'Captain Shreve High School',
 'Carencro High School',
 'Carroll High School',
 'Castor High School',
 'Cecilia High School',
 'Centerville High School',
 'Central High School',
 'Central High School',
 'Central Lafourche High School',
 'Chalmette High School',
 'Choudrant High School',
 'Church Point High School',
 'Concordia Education Center',
 'Converse High School',
 'Covington High School',
 'Crowley High School',
 'David Thibodaux STEM Magnet Academy',
 'DeQuincy High School',
 'DeRidder High School',
 'Delcambre High School',
 'Delhi High School',
 'Delta Charter School MST',
 'Denham Springs High School',
 'Destrehan High School',
 'Dodson High School',
 'Donaldsonville High School',
 'Downsville Community Charter School',
 'Doyle High School',
 'Doyline High School',
 'Dr. Martin Luther King Charter School for Sci Tech',
 'Dutchtown High School',
 'EBR Readiness Superintendent Academy',
 'EBR Virtual Academy',
 'Early College Academy',
 'East Ascension High School',
 'East Baton Rouge All (East Baton Rouge Parish + RSD)',
 'East Beauregard High School',
 'East Feliciana High School',
 'East Feliciana Parish Enrichment Academy',
 'East Iberville Elementary/High School',
 'East Jefferson High School',
 'East St. John High School',
 'Ebarb School',
 'Edward J Sam Accelerated School of Lafayette',
 'Elizabeth High School',
 'Ellender Memorial High School',
 'Elton High School',
 'Epps High School',
 'Erath High School',
 'Eunice High School',
 'Evans High School',
 'Fairview High School',
 'Ferriday High School',
 'Fisher Middle/High School',
 'Florida Parishes Juvenile Detention Cntr.',
 'Florien High School',
 'Fontainebleau High School',
 'Forest School',
 'Franklin Parish High School',
 'Franklin Senior High School',
 'Franklinton High School',
 'French Settlement High School',
 'General Trass High School',
 'Georgetown High School',
 'Gibsland-Coleman High School',
 'Glen Oaks Senior High School',
 'Glenmora High School',
 'Grace King High School',
 'Grand Isle High School',
 'Grand Lake High School',
 'Grant High School',
 'Green Oaks Performing Arts Academy',
 'Gueydan High School',
 'H. L. Bourgeois High School',
 'Hackberry High School',
 'Hahnville High School',
 'Hammond High Magnet School',
 'Harrisonburg High School',
 'Hathaway High School',
 'Haughton High School',
 'Haynes Academy School for Advanced Studies',
 'Haynesville Jr./Sr. High School',
 'Helen Cox High School',
 'Hicks High School',
 'Holden High School',
 'Homer High School',
 'Hornbeck High School',
 'Huntington High School',
 'Independence High Magnet',
 'International High School of New Orleans',
 'Iota High School',
 'Iowa High School',
 'JCFA',
 'Jeanerette Senior High School',
 'Jena High School',
 'Jennings High School',
 'Jewel M. Sumner High School',
 'John Ehret High School',
 'John F. Kennedy High School',
 'John Martyn Community School',
 'Johnny Gray Jones Youth Shelter & Detention Center',
 'Johnson Bayou High School',
 'Jonesboro-Hodge High School',
 'KIPP Renaissance',
 'Kaplan High School',
 'Kentwood High Magnet School',
 'Kilbourne High School',
 'Kinder High School',
 'L.W. Higgins High School',
 'LA School for Ag Science',
 'LaGrange High School',
 'LaSalle High School',
 'Lacassine High School',
 'Lafayette High School',
 'Lake Arthur High School',
 'Lakeshore High School',
 'Lakeside Junior-Senior High School',
 'Lakeview Jr./Sr. High School',
 'Lee High School',
 'Leesville High School',
 'Live Oak High School',
 'Livonia High School',
 'Logansport High School',
 'Loranger High School',
 'Loreauville High School',
 'Louisiana School for the Deaf',
 'Louisiana School for the Visually Impaired',
 'Louisiana Statewide',
 'Lutcher High School',
 'Madison High School',
 'Madison Preparatory Academy',
 'Magnet Academy for Cultural Arts',
 'Mamou High School',
 'Mandeville High School',
 'Mangham High School',
 'Mansfield High School',
 'Many High School',
 'Marksville High School',
 'Maurepas School',
 'McDonogh #35 College Preparatory School',
 'McKinley Senior High School',
 'Mentorship STEAM Academy',
 'Merryville High School',
 'Midland High School',
 'Minden High School',
 'Monterey High School',
 'Montgomery High School',
 'Morgan City High School',
 'Mt. Hermon School',
 'N. P. Moss Preparatory Academy',
 'Natchitoches Central High School',
 'Natchitoches Parish Technical and Career Center',
 'Negreet High School',
 'Neville High School',
 'New Iberia Senior High School',
 'North Caddo High School',
 'North Central High School',
 'North DeSoto High School',
 'North Vermilion High School',
 'North Webster High School',
 "Northdale Superintendent's Academy",
 'Northeast High School',
 'Northshore Charter School',
 'Northshore High School',
 'Northside High School',
 'Northwest High School',
 'Northwood High School',
 'Northwood High School',
 'O. Comeaux High School',
 'Oak Grove High School',
 'Oak Hill High School',
 'Oakdale High School',
 'Oberlin High School',
 'Opelousas Senior High School',
 'Ouachita Parish High School',
 'Parkway High School',
 'Pathways in Education - North market',
 'Pathways in Education-Louisiana Inc.',
 'Patrick F. Taylor Science & Technology Academy',
 'Patterson High School',
 'Peabody Magnet High School',
 'Pearl River High School',
 'Phoenix High School',
 'Pickering High School',
 'Pine Prairie High School',
 'Pine School',
 'Pinecrest Supports & Services Center',
 'Pineville High School',
 'Pitkin High School',
 'Plain Dealing High School',
 'Plainview High School',
 'Plaquemine Senior High School',
 'Pleasant Hill High School',
 'Ponchatoula High School',
 'Port Allen High School',
 'Port Barre High School',
 'Quitman High School',
 'Rapides High School',
 'Rayne High School',
 'Rayville High School',
 'Red River High School',
 'Reeves High School',
 'Richwood High School',
 'Ringgold High School',
 'Riverdale High School',
 'Riverside Alternative High School',
 'Rosepine High School',
 'Ruston High School',
 'Saline High School',
 'Salmen High School',
 'Sam Houston High School',
 'School for Exceptional Children',
 'Scotlandville Magnet High School',
 'Sherrouse School',
 'Sicily Island High School',
 'Simpson High School',
 'Simsboro High School',
 'Singer High School',
 'Slaughter Community Charter School',
 'Slidell High School',
 'South Beauregard High School',
 'South Cameron High School',
 'South Lafourche High School',
 'South Plaquemines High School',
 'South Terrebonne High School',
 'Southern University Laboratory Virtual School',
 'Southside Alternative High School',
 'Southwood High School',
 'Springfield High School',
 'St. Amant High School',
 'St. Helena College and Career Academy',
 'St. James High School',
 'St. Martinville Senior High School',
 'Stanley High School',
 'Starks High School',
 'Sterlington High School',
 'Sulphur High School',
 'Summerfield High School',
 'Tangipahoa Alternative Solutions Program',
 'Tara High School',
 'Tensas High School',
 'Terrebonne High School',
 'The NET 2 Charter High School',
 'Thibodaux High School',
 'Thomas Jefferson High School for Advanced Studies',
 'Tioga High School',
 'Union Parish High School',
 'University View Academy, Inc. (FRM LA Connections)',
 'Varnado High School',
 'Vidalia High School',
 'Ville Platte High School',
 'Vinton High School',
 'Virtual Academy of Lafourche',
 'Walker High School',
 'Ware Youth Center',
 'Warren Easton Senior High School',
 'Washington/Marion Magnet High School',
 'Welsh High School',
 'West Feliciana High School',
 'West Jefferson High School',
 'West Monroe High School',
 'West Ouachita High School',
 'West St. John High School',
 'West St. Mary High School',
 'Westgate High School',
 'Westlake High School',
 'Weston High School',
 'White Castle High School',
 'Winnfield High School',
 'Woodlawn High School',
 'Woodlawn Leadership Academy',
 'Wossman High School',
 'Zachary High School',
 'Zwolle High School']

In [28]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['Algiers Technology Academy',
 'Community School for Apprenticeship Learning Inc.',
 'Delta Charter Group',
 'Dr Martin Luther King Charter School for Sci/Tech',
 'Howard School',
 'JCFA Lafayette',
 'KIPP Renaissance High School',
 'LA Schools for the Deaf and Visually Impaired',
 'Lake Area New Tech Early College High School',
 'Louisiana Special Education Center',
 'The NET2 High School',
 'University View Academy Inc. (FRM LA Connections)',
 'Voices for International Business & Education']

Rename the samples I can find matches for.

In [29]:
state_grads_rename = {
    #'Algiers Technology Academy',
    #'Community School for Apprenticeship Learning Inc.',
    'Delta Charter Group' : 'Delta Charter School MST',
    'Dr Martin Luther King Charter School for Sci/Tech' : 'Dr. Martin Luther King Charter School for Sci Tech',
    #'Howard School',
    'JCFA Lafayette' : 'JCFA',
    'KIPP Renaissance High School' : 'KIPP Renaissance',
    #'LA Schools for the Deaf and Visually Impaired',
    #'Lake Area New Tech Early College High School',
    #'Louisiana Special Education Center',
    #'The NET2 High School',
    'University View Academy Inc. (FRM LA Connections)' :  'University View Academy, Inc. (FRM LA Connections)',
    #'Voices for International Business & Education'
}

In [30]:
state_fiscal = state_fiscal.replace(state_grads_rename)

Merge federal and state data, keeping only matches between the two.

In [31]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [33]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)