In [27]:
import warnings
warnings.filterwarnings('ignore')

In [28]:
import pandas as pd
import numpy as np

In [29]:
abbr = 'OR'

In [30]:
file = 'oregon.xlsx'

Read in federal level data

In [31]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [32]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [33]:
len(state_fiscal)

209

Read in state level data

In [38]:
state_grads = pd.read_excel('../../data/state_data_raw/' + file, sheet_name='Four-year Cohort Data')

In [39]:
state_grads

,2017-18 Four-year Cohort Graduation Rates\nStudents first enrolled in High School in 2014-15,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Non-Graduates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Removed from the Cohort,NaN,...,NaN,Other Completers,NaN,NaN,NaN,NaN,Non-Completers,NaN,NaN,NaN
2,County,District ID,District Name,School ID,School Name,Student Group Code,Student Group,Unadjusted Cohort,"Transfer Out to Another State, Country, Privat...",Deceased,...,2017-18 Four-year Cohort Graduation Rate,Adult High School Diploma,Extended Diploma,GED,2017-18 Four-year Cohort Completer Rate,Alternative Certificate,Continuing Enrollment in 2018-19,Other Non-Completers,Institution Level,2016-17 (prior year) Four-year Cohort Graduati...
3,State of Oregon,9999,State of Oregon,9999,State of Oregon,Tot,All Students,51049,4908,60,...,78.68,1,153,1621,82.53,271,2537,5241,State Level,76.65
4,State of Oregon,9999,State of Oregon,9999,State of Oregon,M,Male,26145,2417,33,...,75.55,1,104,948,80,176,1467,3097,State Level,73.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14595,Yamhill,0,State of Oregon,0,Yamhill County,Mgrnt,Migrant,48,1,0,...,80.85,0,0,1,82.98,0,2,6,County,85.19
14596,Yamhill,0,State of Oregon,0,Yamhill County,Hmlss,Homeless Students,92,10,0,...,68.29,0,0,3,71.95,1,6,16,County,61.06
14597,Yamhill,0,State of Oregon,0,Yamhill County,CDIS,Combined Disadvantaged,1200,70,0,...,85.04,0,4,20,87.17,18,37,90,County,81.43
14598,Yamhill,0,State of Oregon,0,Yamhill County,CTEPartic,CTE Participants,1124,41,0,...,92.15,0,4,8,93.26,13,22,38,County,88.78
14599,Yamhill,0,State of Oregon,0,Yamhill County,CTEConc,CTE Concentrators,611,11,0,...,95.83,0,2,3,96.67,1,4,15,County,92.14

Reset columns.

In [40]:
state_grads.columns = state_grads.loc[2]
state_grads = state_grads.loc[3:]

In [41]:
state_grads

2,County,District ID,District Name,School ID,School Name,Student Group Code,Student Group,Unadjusted Cohort,"Transfer Out to Another State, Country, Private School, or Homeschool",Deceased,...,2017-18 Four-year Cohort Graduation Rate,Adult High School Diploma,Extended Diploma,GED,2017-18 Four-year Cohort Completer Rate,Alternative Certificate,Continuing Enrollment in 2018-19,Other Non-Completers,Institution Level,2016-17 (prior year) Four-year Cohort Graduation Rate
3,State of Oregon,9999,State of Oregon,9999,State of Oregon,Tot,All Students,51049,4908,60,...,78.68,1,153,1621,82.53,271,2537,5241,State Level,76.65
4,State of Oregon,9999,State of Oregon,9999,State of Oregon,M,Male,26145,2417,33,...,75.55,1,104,948,80,176,1467,3097,State Level,73.62
5,State of Oregon,9999,State of Oregon,9999,State of Oregon,F,Female,24904,2491,27,...,81.99,0,49,673,85.22,95,1070,2144,State Level,79.93
6,State of Oregon,9999,State of Oregon,9999,State of Oregon,AM,American Indian/Alaska Native,836,94,2,...,65.27,0,5,39,71.22,5,75,133,State Level,59.13
7,State of Oregon,9999,State of Oregon,9999,State of Oregon,ASO,Asian,2241,293,3,...,90.59,0,2,11,91.26,13,71,86,State Level,88.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14595,Yamhill,0,State of Oregon,0,Yamhill County,Mgrnt,Migrant,48,1,0,...,80.85,0,0,1,82.98,0,2,6,County,85.19
14596,Yamhill,0,State of Oregon,0,Yamhill County,Hmlss,Homeless Students,92,10,0,...,68.29,0,0,3,71.95,1,6,16,County,61.06
14597,Yamhill,0,State of Oregon,0,Yamhill County,CDIS,Combined Disadvantaged,1200,70,0,...,85.04,0,4,20,87.17,18,37,90,County,81.43
14598,Yamhill,0,State of Oregon,0,Yamhill County,CTEPartic,CTE Participants,1124,41,0,...,92.15,0,4,8,93.26,13,22,38,County,88.78
14599,Yamhill,0,State of Oregon,0,Yamhill County,CTEConc,CTE Concentrators,611,11,0,...,95.83,0,2,3,96.67,1,4,15,County,92.14

Filter results.

In [43]:
state_grads = state_grads[(state_grads['Institution Level'] == 'District') &
                         (state_grads['Student Group'] == 'All Students')]

In [44]:
state_grads

2,County,District ID,District Name,School ID,School Name,Student Group Code,Student Group,Unadjusted Cohort,"Transfer Out to Another State, Country, Private School, or Homeschool",Deceased,...,2017-18 Four-year Cohort Graduation Rate,Adult High School Diploma,Extended Diploma,GED,2017-18 Four-year Cohort Completer Rate,Alternative Certificate,Continuing Enrollment in 2018-19,Other Non-Completers,Institution Level,2016-17 (prior year) Four-year Cohort Graduation Rate
30,Lake,2063,Adel SD 21,2063,Adel SD 21,Tot,All Students,0,0,0,...,--,0,0,0,--,0,0,0,District,--
82,Malheur,2113,Adrian SD 61,2113,Adrian SD 61,Tot,All Students,41,15,0,...,88.46,0,0,0,88.46,3,0,0,District,100
134,Benton,1899,Alsea SD 7J,1899,Alsea SD 7J,Tot,All Students,27,1,0,...,50,0,0,0,50,0,6,7,District,92.31
186,Yamhill,2252,Amity SD 4J,2252,Amity SD 4J,Tot,All Students,83,8,0,...,85.33,0,0,0,85.33,0,3,8,District,74.39
238,Malheur,2111,Annex SD 29,2111,Annex SD 29,Tot,All Students,10,9,0,...,0,0,0,0,0,0,0,1,District,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13264,Yamhill,2255,Willamina SD 30J,2255,Willamina SD 30J,Tot,All Students,78,1,0,...,83.12,0,0,1,84.42,2,1,9,District,69.35
13342,Douglas,2002,Winston-Dillard SD 116,2002,Winston-Dillard SD 116,Tot,All Students,130,2,0,...,65.63,0,0,1,66.41,0,3,40,District,73.39
13472,Marion,2146,Woodburn SD 103,2146,Woodburn SD 103,Tot,All Students,367,24,0,...,88.92,0,0,0,88.92,8,7,23,District,88.92
13550,Yamhill,2251,Yamhill Carlton SD 1,2251,Yamhill Carlton SD 1,Tot,All Students,95,9,0,...,86.05,0,0,1,87.21,0,3,8,District,80.49
13602,Douglas,1997,Yoncalla SD 32,1997,Yoncalla SD 32,Tot,All Students,49,10,0,...,53.85,0,0,1,56.41,0,2,15,District,66.67

Select and rename columns.

In [45]:
state_grads = state_grads[['District Name', 
                           'Adjusted Cohort', 
                           '2017-18 Four-year Cohort Graduation Rate']]

In [46]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [47]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197 entries, 30 to 13602
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    197 non-null    object
 1   Total            197 non-null    object
 2   Graduation Rate  197 non-null    object
dtypes: object(3)
memory usage: 6.2+ KB

Convert data types.

In [48]:
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('--', '')

In [49]:
state_grads['Total'] = pd.to_numeric(state_grads['Total'])
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100

Check for matches and non-matches in the two lists.

In [18]:
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.upper().str.strip()
state_grads['District Name'] = state_grads['District Name'].astype(str).str.upper().str.strip()

In [19]:
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' SCHOOL DISTRICT', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('SCH DIST', 'SCHOOL DISTRICT')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CS', ' CHARTER SCHOOL')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sHIGH\sSCHOOL$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sSCHOOL$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' PUBLIC SCHOOLS', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CO ', ' COUNTY ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' BORO', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CITY', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('TWP', 'TOWNSHIP')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sREG(\s|$)', ' REGIONAL ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sTOWN$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sTOWNSHIP$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sBORO$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sPUBLIC$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('H.S DIST.', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'^N\s', 'NORTH ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'^W\s', 'WEST ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace("’", "'")
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' REGIONAL', '')

# state_grads['District Name'] = state_grads['District Name'].astype(str).str.strip()

# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' BOARD OF EDUCATION', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' VOCATIONAL TECHNICAL', ' VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' CITY', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC SCHOOLS', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' SCHOOL DISTRICT', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sHIGH\sSCHOOL$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sSCHOOL$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sTOWNSHIP$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sTOWN$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sBOROUGH$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sBORO$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sDISTRICT$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('VOCATIONAL AND TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('VOCATIONAL-TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('INSTITUTE OF TECHNOLOGY', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('SCHOOLS OF TECHNOLOGY', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sHIGH$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' REGIONAL', '')

# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.strip()

In [51]:
matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
matches.sort()
len(matches)

184

In [52]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['Adel SD 21',
 'Arock SD 81',
 'Ashwood SD 8',
 'Black Butte SD 41',
 'Diamond SD 7',
 'Double O SD 28',
 'Drewsey SD 13',
 'Harney County SD 4',
 'Juntura SD 12',
 'Pine Creek SD 5',
 'South Harney SD 33',
 'Suntex SD 10',
 'Troy SD 54']

In [53]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['Clackamas ESD',
 'Columbia Gorge ESD',
 'Douglas ESD',
 'Grant ESD',
 'Harney ESD Region XVII',
 'High Desert ESD',
 'InterMountain ESD',
 'Jefferson ESD',
 'Lake ESD',
 'Lane ESD',
 'Linn Benton Lincoln ESD',
 'Malheur County SD 51',
 'Malheur ESD Region 14',
 'Multnomah ESD',
 'North Central ESD',
 'Northwest Regional ESD',
 'ODE Head Start',
 'ODE Hospital Program District',
 'ODE JDEP District',
 'ODE LTCT District',
 'Oregon Department of Education',
 'Region 18 ESD',
 'South Coast ESD',
 'Southern Oregon ESD',
 'Willamette ESD']

No additional matches I can find.

In [23]:
# state_fiscal_rename = {}

In [24]:
# state_fiscal = state_fiscal.replace(state_fiscal_rename)

Merge federal and state data, keeping only matches between the two.

In [54]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

In [ ]:
state_Grads

Save cleaned data.

In [26]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)