In [1]:
import pandas as pd

Read in federal level data

In [2]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

In [4]:
fiscal

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
0,0100002,N,01,01073,142,13820,Alabama Youth Services,Alabama,AL,N,...,M,M,M,M,M,M,M,M,M,M
1,0100005,01504840100000,01,01095,290,10700,Albertville City,Alabama,AL,03,...,M,R,R,R,R,M,M,M,M,M
2,0100006,01504800100000,01,01095,290,10700,Marshall County,Alabama,AL,03,...,M,R,R,R,R,M,M,M,M,M
3,0100007,01503740100000,01,01073,142,13820,Hoover City,Alabama,AL,03,...,M,R,R,R,R,M,M,M,M,M
4,0100008,01504530100000,01,01089,290,26620,Madison City,Alabama,AL,03,...,M,R,R,R,R,M,M,M,M,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18710,5680252,N,56,56005,N,23940,Youth Emergency Services Inc. - Administration...,Wyoming,WY,02,...,N,N,N,N,N,N,N,N,N,N
18711,5680253,N,56,56025,N,16220,Wyoming Behavioral Institute - Administration ...,Wyoming,WY,03,...,N,N,N,N,N,N,N,N,N,N
18712,5680254,N,56,56013,N,40180,Saint Stephen's Indian School Admin Office,Wyoming,WY,03,...,N,N,N,N,N,N,N,N,N,N
18713,5680255,N,56,32005,456,23820,Right of Passage,Wyoming,WY,02,...,N,N,N,N,N,N,N,N,N,N
18714,5680256,N,56,56029,N,N,Northwest Wyoming Treatment Center,Wyoming,WY,N,...,N,N,N,N,N,N,N,N,N,N

Generate list of districts in the state in the federal data

In [5]:
fiscal_names = list(fiscal[fiscal['STNAME'] == 'Alabama']['NAME'])

In [6]:
len(fiscal_names)

183

Read in state level data

In [27]:
AL = pd.read_excel('../../data/state_data_raw/alabama2019.xlsx')

In [28]:
AL.head()

,Unnamed: 0,ALABAMA STATE DEPARTMENT OF EDUCATION,Unnamed: 2,Unnamed: 3,Graduation Rate,Unnamed: 5,Unnamed: 6,Unnamed: 7,2018-2019,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,NaN,NaN,NaN,*,Indicates that the number of students was <= 1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,~,Indicates that the student percentage was >= 9...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Source,4-Year Cohort (2016-2019) - Graduation Year 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,System Code,System Name,School Code,School Name,Grade,Gender,Race,Ethnicity,SubPopulationName,Total,Graduate,Graduation Rate,Completer,Completer Rate,Enrolled,Enrolled Rate,Withdrawn,Withdrawn Rate,Dropout,Dropout Rate
4,0,Alabama State Department of Education,0,Alabama State Department of Education,All Grades,All Gender,All Race,All Ethnicity,All SubPopulation,52256,47922,0.9171,667,~,1221,~,413,~,2033,~

Reset columns.

In [29]:
AL.columns = AL.iloc[3]
AL = AL[4:]

Filter for only the district level, total population samples.

In [37]:
AL = AL[(AL['System Name'] == AL['School Name']) &
        (AL['Grade'] == 'Grade 12') &
        (AL['Gender'] == 'All Gender') &
        (AL['Race'] == 'All Race') &
        (AL['Ethnicity'] == 'All Ethnicity') &
        (AL['SubPopulationName'] == 'All SubPopulation')]

In [38]:
AL.head()

3,System Code,System Name,School Code,School Name,Grade,Gender,Race,Ethnicity,SubPopulationName,Total,Graduate,Graduation Rate,Completer,Completer Rate,Enrolled,Enrolled Rate,Withdrawn,Withdrawn Rate,Dropout,Dropout Rate
1501,0,Alabama State Department of Education,0,Alabama State Department of Education,Grade 12,All Gender,All Race,All Ethnicity,All SubPopulation,49963,47844,~,664,~,775,~,90,~,590,~
2435,1,Autauga County,0,Autauga County,Grade 12,All Gender,All Race,All Ethnicity,All SubPopulation,617,583,0.9449,14,~,12,~,*,~,*,~
4502,2,Baldwin County,0,Baldwin County,Grade 12,All Gender,All Race,All Ethnicity,All SubPopulation,2323,2186,0.941,20,~,42,~,*,~,69,~
8199,3,Barbour County,0,Barbour County,Grade 12,All Gender,All Race,All Ethnicity,All SubPopulation,64,58,0.9063,*,~,*,0.0781,*,~,*,~
8910,4,Bibb County,0,Bibb County,Grade 12,All Gender,All Race,All Ethnicity,All SubPopulation,230,223,~,*,~,*,~,*,~,*,~

In [39]:
len(AL)

139

Check for non-matches in the two lists

In [41]:
[name for name in list(AL['System Name']) if name not in fiscal_names]

['Alabama State Department of Education']

In [42]:
[name for name in fiscal_names if name not in list(AL['System Name'])]

['Alabama Youth Services',
 'Al Inst Deaf And Blind',
 'SafetyNet Academy Minter',
 'Bryce Adolescent School',
 'Alabama School of Fine Arts',
 'United Ability',
 'Boyd School',
 'BrewerPorch Childrens Center',
 'Sequel TSI Courtland LLC',
 'Sequel TSI Madison LLC',
 'Sequel TSI New Beginnings LLC',
 'Sequel TSI Tuskegee LLC',
 'Triwill Portacras',
 'Three Springs New Direction',
 'Southern Oaks Academy',
 'Glenwood Mental Health Service',
 'The Little Tree Preschool Auburn',
 'Lee County Youth Development Center',
 'BayPointe Residential Services',
 'Pathway Inc',
 'Presbyterian Home for Children',
 'Brantwood Childrens Home',
 'Developing Alabama Youth Prog',
 'Laurel Oaks Behavioral Health Center',
 'Southeastern Psychiaric Management Inc',
 'The Rushton SchoolGateway Center',
 'Wilmer Hall',
 'Sequel TSI Paint Rock Valley LLC',
 'Compass Academy',
 'Etowah Academy',
 'POINTE Academy LLC',
 'JF Ingram State Technical College',
 'Higdon Hill School',
 'The Bridge',
 'Compass School',
 'Alabama Clinical Schools',
 'Excel Institute',
 'Father Purcell Center',
 'Montgomery Childrens Specialty Center',
 'Evergreen School',
 'Montgomery Public Schools MPS Classroom McInnis',
 'St Marys Home',
 'Pike Road City',
 'Gardendale City',
 'Sequel TSI Montgomery LLC',
 'University Charter School']

Examine data types and missing values.

In [43]:
AL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139 entries, 1501 to 180888
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   System Code        139 non-null    object
 1   System Name        139 non-null    object
 2   School Code        139 non-null    object
 3   School Name        139 non-null    object
 4   Grade              139 non-null    object
 5   Gender             139 non-null    object
 6   Race               139 non-null    object
 7   Ethnicity          139 non-null    object
 8   SubPopulationName  139 non-null    object
 9   Total              139 non-null    object
 10  Graduate           139 non-null    object
 11  Graduation Rate    139 non-null    object
 12  Completer          139 non-null    object
 13  Completer Rate     139 non-null    object
 14  Enrolled           139 non-null    object
 15  Enrolled Rate      139 non-null    object
 16  Withdrawn          139 non-null    object
 17  Withdrawn Rate     139 non-null    object
 18  Dropout            139 non-null    object
 19  Dropout Rate       139 non-null    object
dtypes: object(20)
memory usage: 22.8+ KB

In [46]:
AL = AL[['System Name', 'Total', 'Graduation Rate']]
AL

3                                 System Name  Total Graduation Rate
1501    Alabama State Department of Education  49963               ~
2435                           Autauga County    617          0.9449
4502                           Baldwin County   2323           0.941
8199                           Barbour County     64          0.9063
8910                              Bibb County    230               ~
...                                       ...    ...             ...
178343                    Vestavia Hills City    503               ~
179111                          Winfield City     89          0.9438
179717                        Trussville City    356               ~
180478   Acceleration Day and Evening Academy     90          0.8333
180888   Acceleration Day and Evening Academy     90          0.8333

[139 rows x 3 columns]

Remove duplicate.

In [48]:
AL = AL.iloc[:-1]

Alabama source indicates that '~' is for graduation rates >= 95% or <= 5%. Because this represents about half of the data, we can't just drop these samples. We'll assume that very few, if none, of the districts have graduation rates below 5% and instead assign them the minimum value of 95%.

In [ ]:
len(AL[AL['Graduation Rate'] == '~'])

In [66]:
AL['Graduation Rate'] = AL['Graduation Rate'].replace('~', .95)

<ipython-input-66-be897acf32db>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AL['Graduation Rate'] = AL['Graduation Rate'].replace('~', .95)

Change data types.

In [68]:
AL['Graduation Rate'] = pd.to_numeric(AL['Graduation Rate'])

<ipython-input-68-c29cc5992ee3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AL['Graduation Rate'] = pd.to_numeric(AL['Graduation Rate'])

In [69]:
AL['Total'] = pd.to_numeric(AL['Total'])

<ipython-input-69-a7c81928869e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AL['Total'] = pd.to_numeric(AL['Total'])

In [74]:
AL = AL.reset_index(drop=True)

Change column names for consistency across states.

In [77]:
AL = AL.rename(columns={'System Name' : 'District Name'})

Merge federal and state data, keeping only matches between the two.

In [78]:
AL_merged = pd.merge(fiscal[fiscal['STABBR'] == 'AL'], AL, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [81]:
AL_merged.to_csv('../../data/state_data_merged/AL.csv', index=False)