In [1]:
import pandas as pd
import numpy as np

In [2]:
abbr = 'KS'

In [3]:
file = 'kansas2018.xls'

Read in federal level data

In [4]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [5]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [6]:
len(state_fiscal)

311

In [7]:
state_fiscal.head()

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
5335,2000001,17508501400000,20,20169,N,41460,Southeast Of Saline,Kansas,KS,03,...,R,R,R,R,R,R,M,R,R,R
5336,2000002,17505702200000,20,20113,N,32700,Smoky Valley,Kansas,KS,03,...,R,R,R,R,R,R,M,R,R,R
5337,2000003,17507503400000,20,20149,358,31740,Wamego,Kansas,KS,03,...,R,R,R,R,R,R,M,R,R,R
5338,2000004,17507503600000,20,20149,358,31740,Rock Creek,Kansas,KS,03,...,R,R,R,R,R,R,M,I,R,R
5339,2000006,17500701800000,20,20013,N,N,Hiawatha,Kansas,KS,03,...,R,R,R,R,R,R,M,R,R,R

Read in state level data

In [8]:
state_grads = pd.read_excel('../../data/state_data_raw/' + file)

In [9]:
state_grads.head(20)

,State Totals,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,STATE GRADUATION RATE - FOUR-YEAR ADJUSTED CO...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"BY DISTRICT, RACE AND GENDER",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ALL SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,TOTAL,NaN,NaN,WHITE,NaN,...,NaN,NaN,REDUCED-PRICE LUNCH,NaN,NaN,SPECIAL EDUC.,NaN,NaN,NaN,NaN
8,ORG. #,ORGANIZATION NAME,COUNTY NAME,COHORT TYPE,NaN,ALL,MALE,FEM.,MALE,FEM.,...,NaN,FEM.,MALE,NaN,FEM.,MALE,FEM.,LEP,MIGRANT,HOME\nLESS
9,D0101,Erie-Galesburg,Neosho,Graduation Rate,NaN,98.3,100.0,95.8,100.0,95.2,...,NaN,92.3,100.0,NaN,100.0,100.0,100.0,100.0,0.0,100.0
10,D0102,Cimarron-Ensign,Gray,Graduation Rate,NaN,97.1,95.5,100.0,91.7,100.0,...,NaN,100.0,100.0,NaN,100.0,100.0,100.0,100.0,100.0,0.0
11,D0103,Cheylin,Cheyenne,Graduation Rate,NaN,100.0,100.0,100.0,100.0,100.0,...,NaN,100.0,0.0,NaN,100.0,0.0,100.0,100.0,100.0,0.0
12,D0105,Rawlins County,Rawlins,Graduation Rate,NaN,95.8,100.0,88.9,100.0,87.5,...,NaN,100.0,100.0,NaN,75.0,100.0,100.0,0.0,0.0,0.0
13,D0106,Western Plains,Ness,Graduation Rate,NaN,87.5,75.0,100.0,75.0,100.0,...,NaN,100.0,100.0,NaN,0.0,66.7,0.0,100.0,0.0,100.0
14,D0107,Rock Hills,Jewell,Graduation Rate,NaN,90.9,93.3,88.9,92.3,88.2,...,NaN,85.7,100.0,NaN,75.0,100.0,100.0,0.0,0.0,0.0
15,D0108,Washington Co. Schools,Washington,Graduation Rate,NaN,100.0,100.0,100.0,100.0,100.0,...,NaN,100.0,100.0,NaN,100.0,100.0,100.0,0.0,0.0,0.0
16,D0109,Republic County,Republic,Graduation Rate,NaN,81.1,77.3,86.7,76.2,85.7,...,NaN,75.0,75.0,NaN,100.0,57.1,100.0,0.0,100.0,0.0
17,D0110,Thunder Ridge Schools,Phillips,Graduation Rate,NaN,100.0,100.0,100.0,100.0,100.0,...,NaN,100.0,0.0,NaN,0.0,100.0,0.0,0.0,0.0,0.0
18,D0111,Doniphan West Schools,Doniphan,Graduation Rate,NaN,81.0,91.7,66.7,91.7,66.7,...,NaN,25.0,75.0,NaN,0.0,100.0,0.0,0.0,0.0,0.0
19,D0112,Central Plains,Ellsworth,Graduation Rate,NaN,78.0,73.7,85.7,80.6,88.9,...,NaN,50.0,50.0,NaN,100.0,84.6,50.0,0.0,0.0,100.0

Reset columns and rows.

In [10]:
state_grads.columns = state_grads.iloc[8]

In [11]:
state_grads = state_grads.iloc[9:308, :6]

In [12]:
state_grads.tail(10)

8,ORG. #,ORGANIZATION NAME,COUNTY NAME,COHORT TYPE,NaN,ALL
298,Z0009,Independence Bible School,Montgomery,Graduation Rate,NaN,80.0
299,Z0013,St John's Military School,Saline,Graduation Rate,NaN,0.0
300,Z0029,Kansas City Catholic Diocese,Wyandotte,Graduation Rate,NaN,97.4
301,Z0030,Salina Catholic Diocese,Saline,Graduation Rate,NaN,96.6
302,Z0031,Wichita Catholic Diocese,Sedgwick,Graduation Rate,NaN,98.7
303,Z0032,Lakemary Center Paola,Miami,Graduation Rate,NaN,22.2
304,Z0058,Kickapoo Nation School,Brown,Graduation Rate,NaN,83.3
305,Z0060,Accelerated Schools,Johnson,Graduation Rate,NaN,88.2
306,Z0066,Word of Life Traditional School,Sedgwick,Graduation Rate,NaN,94.5
307,Z0071,Riverbend International School,Atchison,Graduation Rate,NaN,0.0

Select and rename columns.

In [13]:
state_grads = state_grads[['ORGANIZATION NAME', 'COHORT TYPE', 'ALL']]

In [14]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [15]:
state_grads['Total'] = np.full_like(state_grads['District Name'], '')

In [16]:
state_grads

                       District Name Total Graduation Rate
9                     Erie-Galesburg                  98.3
10                   Cimarron-Ensign                  97.1
11                           Cheylin                 100.0
12                    Rawlins County                  95.8
13                    Western Plains                  87.5
..                               ...   ...             ...
303            Lakemary Center Paola                  22.2
304           Kickapoo Nation School                  83.3
305              Accelerated Schools                  88.2
306  Word of Life Traditional School                  94.5
307   Riverbend International School                   0.0

[299 rows x 3 columns]

In [17]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 9 to 307
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    299 non-null    object
 1   Total            299 non-null    object
 2   Graduation Rate  299 non-null    object
dtypes: object(3)
memory usage: 7.1+ KB

Convert data types.

state_grads = state_grads.replace('****', '')

In [18]:
state_grads['Total'] = pd.to_numeric(state_grads['Total'])
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100

Check for matches and non-matches in the two lists

In [19]:
Matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
Matches.sort()
len(Matches)

286

In [20]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['Accelerated Schools',
 'Department of Corrections',
 'Ft Leavenworth',
 'Heartspring',
 'Independence Bible School',
 'Kansas City Catholic Diocese',
 'Kickapoo Nation School',
 'Lakemary Center Paola',
 'Riverbend International School',
 'Salina Catholic Diocese',
 "St John's Military School",
 'Wichita Catholic Diocese',
 'Word of Life Traditional School']

In [21]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['ANW Special Education Cooperative',
 'Brown Co KS Special Ed Coop',
 'Butler Co Special Education Interlocal',
 'Copeland',
 'Doniphan Co Education Coop',
 'East Central KS Coop in Educ',
 'Grinnell Public Schools',
 'Haviland',
 'High Plains Educational Cooperative',
 'Lansing Correctional Facility',
 'Lewis',
 'Marion County Special Education',
 'Northeast KS Education Serv Cntr',
 'Northwest KS Educational Serv Cntr',
 'Reno County Education Cooperative',
 'Sedgwick Co Area Educational Servs',
 'South Central KS Education Serv Cnt',
 'South Central KS Spec Ed Coop',
 'Southeast KS Education Serv Center',
 'Southeast Kansas Special Education Interlocal',
 'Southwest Kansas Area Cooperative',
 'Southwest Plains Regional Svc Ctr',
 'Sumner Co Educational Services',
 'Three Lakes Educational Cooperative',
 'Tri County Special Education Coop']

Can't find any additional matches to be made

Merge federal and state data, keeping only matches between the two.

In [22]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [23]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)