In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
abbr = 'WI'

In [4]:
file = 'wisconsin2018.csv'

Read in federal level data

In [5]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [6]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [7]:
len(state_fiscal)

385

In [8]:
state_fiscal.head()

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
18187,5500016,50506200400000,55,55121,N,N,Blair-Taylor School District,Wisconsin,WI,03,...,R,R,R,R,R,M,M,R,R,R
18188,5500017,50502230100000,55,55043,N,38420,River Ridge School District,Wisconsin,WI,03,...,R,R,R,R,R,M,M,R,R,R
18200,5500030,50501050100000,55,55019,N,N,Abbotsford School District,Wisconsin,WI,03,...,R,R,R,R,R,M,M,R,R,R
18205,5500035,N,55,55025,357,31540,Wisconsin Department of Corrections,Wisconsin,WI,02,...,N,N,N,N,N,N,N,N,N,N
18206,5500036,N,55,55025,357,31540,Wisconsin Department of Health Services,Wisconsin,WI,03,...,N,N,N,N,N,N,N,N,N,N

Read in state level data

In [15]:
state_grads = pd.read_csv('../../data/state_data_raw/' + file, header=1)

In [17]:
state_grads.head(5)

,SCHOOL_YEAR,AGENCY_TYPE,CHARTER_IND,CESA,COUNTY,DISTRICT_CODE,SCHOOL_CODE,GRADE_GROUP,DISTRICT_NAME,SCHOOL_NAME,COHORT,COMPLETION_STATUS,GROUP_BY,GROUP_BY_VALUE,TIMEFRAME,COHORT_COUNT,STUDENT_COUNT
0,2017-18,NaN,NaN,NaN,NaN,0,NaN,[All],[Statewide],[Statewide],2018,Completed - High School Equivalency Diploma,All Students,All Students,4-Year rate,66539,104
1,2017-18,NaN,NaN,NaN,NaN,0,NaN,[All],[Statewide],[Statewide],2018,Completed - Other High School Completion Crede...,All Students,All Students,4-Year rate,66539,28
2,2017-18,NaN,NaN,NaN,NaN,0,NaN,[All],[Statewide],[Statewide],2018,Completed - Regular High School Diploma,All Students,All Students,4-Year rate,66539,59627
3,2017-18,NaN,NaN,NaN,NaN,0,NaN,[All],[Statewide],[Statewide],2018,Not Completed - Continuing Toward Completion,All Students,All Students,4-Year rate,66539,3590
4,2017-18,NaN,NaN,NaN,NaN,0,NaN,[All],[Statewide],[Statewide],2018,Not Completed - Not Continuing,All Students,All Students,4-Year rate,66539,55

Reset columns.

Filter results.

In [18]:
state_grads = state_grads[(state_grads['SCHOOL_NAME'] == '[Districtwide]') &
                         (state_grads['GROUP_BY_VALUE'] == 'All Students') &
                         (state_grads['TIMEFRAME'] == '4-Year rate') &
                         (state_grads['COMPLETION_STATUS'] == 'Completed - Regular High School Diploma')]

In [19]:
state_grads

,SCHOOL_YEAR,AGENCY_TYPE,CHARTER_IND,CESA,COUNTY,DISTRICT_CODE,SCHOOL_CODE,GRADE_GROUP,DISTRICT_NAME,SCHOOL_NAME,COHORT,COMPLETION_STATUS,GROUP_BY,GROUP_BY_VALUE,TIMEFRAME,COHORT_COUNT,STUDENT_COUNT
451,2017-18,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],2018,Completed - Regular High School Diploma,All Students,All Students,4-Year rate,51,51
571,2017-18,School District,No,5.0,Adams,14,NaN,[All],Adams-Friendship Area,[Districtwide],2018,Completed - Regular High School Diploma,All Students,All Students,4-Year rate,104,94
805,2017-18,School District,No,2.0,Green,63,NaN,[All],Albany,[Districtwide],2018,Completed - Regular High School Diploma,All Students,All Students,4-Year rate,31,29
961,2017-18,School District,No,7.0,Kewaunee,70,NaN,[All],Algoma,[Districtwide],2018,Completed - Regular High School Diploma,All Students,All Students,4-Year rate,64,55
1157,2017-18,School District,No,4.0,Buffalo,84,NaN,[All],Alma,[Districtwide],2018,Completed - Regular High School Diploma,All Students,All Students,4-Year rate,14,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183172,2017-18,School District,No,2.0,Dane,469.0,NaN,[All],Wisconsin Heights,[Districtwide],2018.0,Completed - Regular High School Diploma,All Students,All Students,4-Year rate,51,50
183318,2017-18,School District,No,5.0,Wood,6685.0,NaN,[All],Wisconsin Rapids,[Districtwide],2018.0,Completed - Regular High School Diploma,All Students,All Students,4-Year rate,420,392
183696,2017-18,School District,No,8.0,Shawano,6692.0,NaN,[All],Wittenberg-Birnamwood,[Districtwide],2018.0,Completed - Regular High School Diploma,All Students,All Students,4-Year rate,90,85
183879,2017-18,School District,No,4.0,Juneau,6713.0,NaN,[All],Wonewoc-Union Center,[Districtwide],2018.0,Completed - Regular High School Diploma,All Students,All Students,4-Year rate,24,19
184032,2017-18,School District,No,7.0,Brown,6734.0,NaN,[All],Wrightstown Community,[Districtwide],2018.0,Completed - Regular High School Diploma,All Students,All Students,4-Year rate,125,121

Select and rename columns.

In [20]:
state_grads['STUDENT_COUNT'] = pd.to_numeric(state_grads['STUDENT_COUNT'])
state_grads['COHORT_COUNT']  = pd.to_numeric(state_grads['COHORT_COUNT'] )

In [21]:
state_grads['Graduation Rate'] = state_grads['STUDENT_COUNT'] / state_grads['COHORT_COUNT']

In [22]:
state_grads = state_grads[['DISTRICT_NAME', 
                           'COHORT_COUNT',
                           'Graduation Rate']]

In [23]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [24]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 451 to 184032
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    760 non-null    object
 1   Total            760 non-null    int64
 2   Graduation Rate  760 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.8+ KB

Convert data types.

In [ ]:
# state_grads['Total'] = state_grads['Total'].astype(str).str.replace('<', '')
# state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('%', '')

Check for matches and non-matches in the two lists.

In [25]:
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.upper().str.strip()
state_grads['District Name'] = state_grads['District Name'].astype(str).str.upper().str.strip()

In [34]:
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sSu$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sSd$', '')

state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' SCHOOL DISTRICT', '')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' AGENCY', '')

In [35]:
matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
matches.sort()
len(matches)

760

In [36]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

[]

In [37]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['NORRIS',
 'PATHWAYS HIGH',
 'WASHINGTON',
 'WISCONSIN DEPARTMENT OF CORRECTIONS',
 'WISCONSIN DEPARTMENT OF HEALTH SERVICES']

Make any additional matches I can find.

In [ ]:
# state_fiscal_rename = {}

In [ ]:
# state_fiscal = state_fiscal.replace(state_fiscal_rename)

Merge federal and state data, keeping only matches between the two.

In [38]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [39]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)