## 1. Generate a modeling ready dataset
## 2. Generate a list of school district datasets by state

In [3]:
import pandas as pd

In [4]:
#read in the dataset of all school districts with zip codes
df_zip = pd.read_csv('../../cleaning/grad_rate_by_zip.csv', dtype={'MZIP': 'object'})

In [5]:
df_zip.head()

   Unnamed: 0    LEAID                  NAME  Graduation Rate   MZIP
0           0  2700001    MOUNTAIN IRON-BUHL           0.9355  55768
1           1  2700005  UNITED SOUTH CENTRAL           0.8810  56097
2           2  2700006           MAPLE RIVER           0.9747  56065
3           3  2700007             KINGSLAND           0.9677  55975
4           4  2700008       ST LOUIS COUNTY           0.8607  55792

In [6]:
df_zip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11451 entries, 0 to 11450
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       11451 non-null  int64
 1   LEAID            11451 non-null  int64
 2   NAME             11451 non-null  object
 3   Graduation Rate  11451 non-null  float64
 4   MZIP             11451 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 447.4+ KB

In [10]:
#drop unnecessary columns
df_zip.drop('Unnamed: 0', axis=1, inplace=True)

In [11]:
#rename the key column
df_zip.rename(columns={'LEAID': 'leaid'}, inplace=True)

In [7]:
#read in the dataset with all school districts with features for modeling
df_final = pd.read_csv('../../data/log_per_student.csv')

In [8]:
df_final.head()

,leaid,name,stabbr,agchrt,v33,totalrev,tfedrev,c14,c15,c16,...,w01,w31,w61,v95,v02,k14,ce1,ce2,ce3,graduation rate
0,2700001,MOUNTAIN IRON-BUHL,MN,3,507.0,9.684527,6.770554,5.844030,5.291073,3.244194,...,6.045220,6.460349,10.269527,5.972549,4.529392,5.201033,9.225743,6.628125,5.127305,0.9355
1,2700005,UNITED SOUTH CENTRAL,MN,3,707.0,9.759353,6.663889,5.482523,5.291073,3.714020,...,7.362437,6.460349,8.704688,5.550731,5.183007,5.814785,9.225743,6.628125,5.127305,0.8810
2,2700006,MAPLE RIVER,MN,3,927.0,9.556398,6.268164,5.059408,5.291073,3.509789,...,5.832885,6.460349,8.695732,5.837853,5.348801,5.066234,9.225743,6.628125,5.127305,0.9500
3,2700007,KINGSLAND,MN,3,557.0,9.582090,6.509446,5.660364,5.291073,4.536434,...,7.024540,6.460349,8.370495,6.044776,4.592523,4.774845,9.225743,6.628125,5.127305,0.9500
4,2700008,ST LOUIS COUNTY,MN,3,2007.0,9.898768,6.831691,5.529896,5.291073,1.605944,...,7.740643,6.460349,8.299639,5.681785,5.861557,3.796386,9.225743,6.628125,5.127305,0.8607

In [16]:
#dummify the categorical column and make a new dataset
dummies = pd.get_dummies(df_final['agchrt'], drop_first = True).astype('float64') # dummify agchrt column
df = pd.concat([df_final, dummies], axis = 1) # add to the dataframe

In [20]:
#merge the new dataset with the one with zip codes on school district id
new_all = pd.merge(df, df_zip[['leaid', 'MZIP']], on='leaid')

In [21]:
new_all.head()

,leaid,name,stabbr,agchrt,v33,totalrev,tfedrev,c14,c15,c16,...,v95,v02,k14,ce1,ce2,ce3,graduation rate,2,3,MZIP
0,2700001,MOUNTAIN IRON-BUHL,MN,3,507.0,9.684527,6.770554,5.844030,5.291073,3.244194,...,5.972549,4.529392,5.201033,9.225743,6.628125,5.127305,0.9355,0.0,1.0,55768
1,2700005,UNITED SOUTH CENTRAL,MN,3,707.0,9.759353,6.663889,5.482523,5.291073,3.714020,...,5.550731,5.183007,5.814785,9.225743,6.628125,5.127305,0.8810,0.0,1.0,56097
2,2700006,MAPLE RIVER,MN,3,927.0,9.556398,6.268164,5.059408,5.291073,3.509789,...,5.837853,5.348801,5.066234,9.225743,6.628125,5.127305,0.9500,0.0,1.0,56065
3,2700007,KINGSLAND,MN,3,557.0,9.582090,6.509446,5.660364,5.291073,4.536434,...,6.044776,4.592523,4.774845,9.225743,6.628125,5.127305,0.9500,0.0,1.0,55975
4,2700008,ST LOUIS COUNTY,MN,3,2007.0,9.898768,6.831691,5.529896,5.291073,1.605944,...,5.681785,5.861557,3.796386,9.225743,6.628125,5.127305,0.8607,0.0,1.0,55792

In [22]:
#save the new dataset
new_all.to_csv('../data/full_school_district_with_zip.csv', index=False)

In [10]:
#see the state list
new_all['STABBR'].unique()

array(['MN', 'AZ', 'WA', 'WV', 'AL', 'NC', 'MO', 'NV', 'OR', 'TX', 'TN',
       'ND', 'AK', 'CT', 'VT', 'MI', 'NE', 'VA', 'CA', 'DC', 'ID', 'KY',
       'FL', 'PA', 'RI', 'DE', 'IA', 'KS', 'IL', 'SC', 'HI', 'IN', 'GA',
       'SD', 'WI', 'AR', 'NJ', 'NH', 'MS', 'MD', 'CO', 'UT', 'ME', 'LA',
       'MA', 'NM', 'OH', 'NY', 'OK'], dtype=object)

In [11]:
#add and prepare a blank row for drop menu on the streamlit app
blank_row = new_all.loc[0]

blank_row.replace('MOUNTAIN IRON-BUHL', 'Select your school district', inplace=True)
blank_row.replace('MN', 'NA', inplace=True)

In [91]:
#test on a state
pd.concat([pd.DataFrame(blank_row).T, this_state], axis=0)

,LEAID,NAME,STABBR,AGCHRT,V33,TOTALREV,TFEDREV,C14,C15,C16,...,W31,W61,V95,V02,K14,CE1,CE2,CE3,Graduation Rate,MZIP
0,2700001,Select your school district,MN,3,507.0,8146000.0,442000.0,175000.0,0.0,13000.0,...,0.0,14622000.0,199000.0,47000.0,92000.0,-1.0,-1.0,0.0,0.9355,55768
11192,4000013,TIMBERLAKE,OK,3,285.0,5193000.0,242000.0,45000.0,59000.0,8000.0,...,23000.0,1948000.0,94000.0,93000.0,0.0,3981000.0,238000.0,0.0,0.5,73741
11193,4000014,BURNS FLAT-DILL CITY,OK,3,617.0,5603000.0,791000.0,188000.0,295000.0,0.0,...,0.0,1812000.0,95000.0,120000.0,0.0,4023000.0,785000.0,0.0,0.8,73624
11194,4000015,THOMAS-FAY-CUSTER UNIFIED DIST,OK,3,507.0,5424000.0,412000.0,80000.0,111000.0,18000.0,...,11000.0,1613000.0,108000.0,91000.0,3000.0,5188000.0,374000.0,0.0,0.8,73669
11195,4000020,FRONTIER,OK,3,380.0,7010000.0,835000.0,92000.0,80000.0,0.0,...,1122000.0,5250000.0,195000.0,153000.0,4000.0,5114000.0,495000.0,0.0,0.8,74651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11604,4033390,YARBROUGH,OK,3,89.0,1763000.0,237000.0,81000.0,46000.0,7000.0,...,11000.0,563000.0,59000.0,27000.0,6000.0,1277000.0,211000.0,0.0,1.0,73939
11605,4033480,YUKON,OK,3,8781.0,76164000.0,4424000.0,504000.0,1568000.0,62000.0,...,8173000.0,25761000.0,1134000.0,1903000.0,0.0,54593000.0,4679000.0,0.0,0.92,73099
11606,4033601,ROCK CREEK,OK,3,488.0,5077000.0,929000.0,119000.0,109000.0,24000.0,...,0.0,1390000.0,124000.0,173000.0,0.0,3794000.0,872000.0,0.0,0.9,74726
11607,4033602,FORT COBB-BROXTON,OK,3,315.0,3862000.0,584000.0,88000.0,66000.0,0.0,...,0.0,367000.0,67000.0,77000.0,0.0,2381000.0,530000.0,0.0,0.8,73038
11608,4033603,BINGER-ONEY,OK,3,338.0,3939000.0,481000.0,100000.0,85000.0,14000.0,...,1431000.0,902000.0,105000.0,93000.0,0.0,2740000.0,412000.0,0.0,0.8,73009

In [27]:
#separate school districts with zip by state and save each to a file
for state in new_all['STABBR'].unique():
    this_state = new_all.loc[new_all['STABBR']==state]
    this_state = pd.concat([pd.DataFrame(blank_row).T, this_state.sort_values(by='NAME')], axis=0)
    this_state.reset_index(inplace=True, drop=True)
    this_state.to_csv(f'../data/states/zip/{state}.csv', index=False)